[Unit]
Description=EKCXWeb
After=network.target

[Service]
User=jdog
WorkingDirectory=/home/jdog/ekcx
LimitNOFILE=4096
ExecStart=/home/jdog/.local/bin/poetry run gunicorn main:app --workers 2 -k uvicorn.workers.UvicornWorker --bind unix:ekcx.sock --error-logfile /var/log/ekcx/error_log.txt
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target