<div><h2>Teams</h2></div>
<table cellspacing="0" border="0" style="width: 100%;">
	<colgroup width="67"></colgroup>
	<colgroup width="240"></colgroup>
	<colgroup width="98"></colgroup>
	<colgroup width="86"></colgroup>
	<colgroup span="2" width="77"></colgroup>
	<colgroup width="45"></colgroup>
	<colgroup width="55"></colgroup>
	<tr>
		<td height="20" align="left" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Position</font></b></td>
		<td align="left" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Team</font></b></td>
		<td align="center" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Women</font></b></td>
		<td align="center" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>V40</font></b></td>
		<td align="center" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Under 12</font></b></td>
		<td align="center" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Under 16</font></b></td>
		<td align="center" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>V50</font></b></td>
		<td align="center" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Points</font></b></td>
	</tr>	<tr>
		<td height="20" align="left" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">1</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">4T+ Cyclopark</font></td>
		<td align="center" sdval="76" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">76</font></td>
		<td align="center" sdval="382" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">382</font></td>
		<td align="center" sdval="276" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">276</font></td>
		<td align="center" sdval="563" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">563</font></td>
		<td align="center" sdval="160" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">160</font></td>
		<td align="center" sdval="1457" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">1457</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">2</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="160" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">160</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="657" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">657</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="199" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">199</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="435" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">435</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="1451" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">1451</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">3</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Limited Edition Cycling</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="72" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">72</font></td>
		<td align="center" sdval="681" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">681</font></td>
		<td align="center" sdval="204" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">204</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="957" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">957</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">4</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">CX Cartel</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="194" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">194</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">94</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="288" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">288</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">5</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">GS Invicta-ELO-Herberts Cycles</font></td>
		<td align="center" sdval="78" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">78</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="202" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">202</font></td>
		<td align="center" sdval="280" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">280</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">6</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">VC Londres</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="76" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">76</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="184" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">184</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="260" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">260</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">7</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Penge Cycle Club</font></td>
		<td align="center" sdval="80" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">80</font></td>
		<td align="center" sdval="62" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">62</font></td>
		<td align="center" sdval="86" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">86</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="228" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">228</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">8</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Southborough & District Whls</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="67" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">67</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="128" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">128</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="195" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">195</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">9</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">GKR Racing</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">100</font></td>
		<td align="center" sdval="76" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">76</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="176" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">176</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">10</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Velorefined Aerosmiths</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">94</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="78" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">78</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="172" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">172</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">11</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">ViCiOUS VELO</font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">100</font></td>
		<td align="center" sdval="70" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">70</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="170" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">170</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">12</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">San Fairy Ann CC</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="104" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">104</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="51" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">51</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="155" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">155</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">13</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Thanet RC</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="66" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">66</font></td>
		<td align="center" sdval="66" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">66</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="132" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">132</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">14</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">C and N Cycles RT</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="124" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">124</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="124" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">124</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">15</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Dulwich Paragon CC</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="59" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">59</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="58" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">58</font></td>
		<td align="center" sdval="117" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">117</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">16</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Wigmore CC</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="50" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">50</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="62" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">62</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="112" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">112</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">17</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Spirit Racing Team</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">100</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="100" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">100</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">18</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Quick Release Cycling Club</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="90" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">90</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="90" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">90</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">19</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Schils -  Doltcini Racing Team</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="90" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">90</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="90" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">90</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">20</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Hythe Cycling Club</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="80" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">80</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="80" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">80</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">21</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Bigfoot Youth Cycle Club Ltd</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="80" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">80</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="80" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">80</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">22</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">London Dynamo</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">74</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">74</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">23</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">XRT - Elmy Cycles</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="72" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">72</font></td>
		<td align="center" sdval="72" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">72</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">24</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">trainSharp Roman RT</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="69" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">69</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="69" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">69</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">25</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Herne Hill Youth CC</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="68" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">68</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="68" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">68</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">26</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">GS Avanti</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="67" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">67</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="67" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">67</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">27</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Morden Cycle Racing Club</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="64" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">64</font></td>
		<td align="center" sdval="64" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">64</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">28</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">VC Meudon</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="57" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">57</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="57" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">57</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">29</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Seeds Cycling Club</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="56" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">56</font></td>
		<td align="center" sdval="56" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">56</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">30</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Kingston Wheelers CC</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="55" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">55</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="55" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">55</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">31</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Artic Aircon</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="54" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">54</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="54" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">54</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">32</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">VC Revolution</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="54" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">54</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="54" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">54</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">33</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Bigfoot CC</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="49" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">49</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="49" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">49</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">34</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">7 Oaks Triathlon Club</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="49" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="49" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">49</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">35</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Folkestone Velo Club</font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="0" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="48" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">48</font></td>
		<td align="center" sdval="48" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">48</font></b></td>
	</tr></table>
