<div><h1 class="western">Senior Open</h1>
<table cellspacing="0" border="0" style="width: 100%;">
	<colgroup width="67"></colgroup>
	<colgroup width="116"></colgroup>
	<colgroup width="90"></colgroup>
	<colgroup width="240"></colgroup>
	<colgroup width="76"></colgroup>
	<colgroup span="4" width="36"></colgroup>
	<colgroup width="55"></colgroup>
	<colgroup width="70"></colgroup>
	<tr>
		<td height="20" align="left" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Position</font></b></td>
		<td align="left" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Last Name</font></b></td>
		<td align="left" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>First Name</font></b></td>
		<td align="left" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Team</font></b></td>
		<td align="left" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Category</font></b></td>
		<td align="center" style="background: #000000; color: white" sdval="1" sdnum="2057;0;@"><font face="Liberation Serif" size=3>1</font></td>
		<td align="center" style="background: #000000; color: white" sdval="2" sdnum="2057;0;@"><font face="Liberation Serif" size=3>2</font></td>
		<td align="center" style="background: #000000; color: white" sdval="3" sdnum="2057;0;@"><font face="Liberation Serif" size=3>3</font></td>
		<td align="center" style="background: #000000; color: white" sdval="4" sdnum="2057;0;@"><font face="Liberation Serif" size=3>4</font></td>
		<td align="center" style="background: #000000; color: white" sdnum="2057;0;@"><font face="Liberation Serif" size=3>Points</font></td>
		<td align="center" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Points excluding lowest</font></b></td>
	</tr>	<tr>
		<td height="20" align="left" sdval="1" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">1</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">MATHIE</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Richard</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Penge Cycle Club</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center" sdval="80" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">80</font></td>
		<td align="center" sdval="78" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">78</font></td>
		<td align="center" sdval="76" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">76</font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">100</font></td>
		<td align="center" sdval="334" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">334</font></td>
		<td align="center" sdval="258" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">258</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="2" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">2</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">WAKELING</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Josh</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">CX Cartel</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="83" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">83</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="83" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">83</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="90" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">90</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="256" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">256</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="256" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">256</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="3" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">3</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">GILHAM</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Sean</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center" sdval="70" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">70</font></td>
		<td align="center" sdval="72" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">72</font></td>
		<td align="center" sdval="80" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">80</font></td>
		<td align="center" sdval="94" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">94</font></td>
		<td align="center" sdval="316" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">316</font></td>
		<td align="center" sdval="246" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">246</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="4" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">4</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">VAUGHAN</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Fred</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="78" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">78</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="80" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">80</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="78" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">78</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="86" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">86</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="322" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">322</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="244" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">244</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="5" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">5</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">HURST</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Cameron</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Schils -  Doltcini Racing Team</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">100</font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">100</font></td>
		<td align="center" sdval="200" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">200</font></td>
		<td align="center" sdval="200" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">200</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="6" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">6</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">FRATESI</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Matthew</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Hythe</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="90" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">90</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="100" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">100</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="190" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">190</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="190" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">190</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="7" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">7</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">MALIK</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Omar</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Southborough & District Whls</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">100</font></td>
		<td align="center" sdval="86" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">86</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="186" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">186</font></td>
		<td align="center" sdval="186" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">186</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="8" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">8</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">GLOWINSKI</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Philip</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">VC Londres</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="86" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">86</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">94</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="180" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">180</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="180" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">180</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="9" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">9</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">BRAYBROOK</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ian</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Basildon CC</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="74" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">74</font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">100</font></td>
		<td align="center" sdval="174" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">174</font></td>
		<td align="center" sdval="174" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">174</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="10" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">10</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">HOGBEN</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Peter</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Thanet RC</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="83" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">83</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="83" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">83</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="166" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">166</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="166" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">166</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="11" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">11</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">METCALFE</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">George</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Darenth</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center" sdval="76" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">76</font></td>
		<td align="center" sdval="76" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">76</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="152" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">152</font></td>
		<td align="center" sdval="152" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">152</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="12" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">12</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">PITTOCK</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Damien</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">C and N Cycles RT</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="72" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">72</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="80" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">80</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="152" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">152</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="152" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">152</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="13" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">13</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">CLEVES</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">James</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Dulwich Paragon CC</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center" sdval="72" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">72</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="69" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">69</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="141" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">141</font></td>
		<td align="center" sdval="141" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">141</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="14" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">14</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">BRYANT</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Jamie</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Southborough & District Whls</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">94</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">94</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">94</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="15" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">15</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">EGAN</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Declan</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Kingston Wheelers CC</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="94" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">94</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="94" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">94</font></td>
		<td align="center" sdval="94" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">94</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="16" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">16</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">MORRIS</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Paul</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Fareham Wheelers CC</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">94</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">94</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">94</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="17" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">17</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">BELL</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Dominic</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">C and N Cycles RT</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="90" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">90</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="90" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">90</font></td>
		<td align="center" sdval="90" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">90</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="18" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">18</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">CLAYTON</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Matthew</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Le Col RT</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="90" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">90</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="90" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">90</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="90" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">90</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="19" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">19</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">BELL</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Bill</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Bigfoot CC</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="86" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">86</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="86" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">86</font></td>
		<td align="center" sdval="86" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">86</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="20" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">20</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">HUMPHRIS</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ben</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">74</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">74</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">74</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="21" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">21</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">LOCKE</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Jamie</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Thanet RC</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="74" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">74</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="74" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">74</font></td>
		<td align="center" sdval="74" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">74</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="22" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">22</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">PITTOCK</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Damain</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">C and N Cycles RT</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="70" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">70</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="70" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">70</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="70" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">70</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="23" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">23</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">DUNCAN</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Patrick</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">K20 Cycling Club</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="70" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">70</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="70" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">70</font></td>
		<td align="center" sdval="70" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">70</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="24" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">24</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">LINK</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Peter</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="69" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">69</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="69" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">69</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="69" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">69</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="25" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">25</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">BAILEY</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Owen</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="69" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">69</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="69" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">69</font></td>
		<td align="center" sdval="69" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">69</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="26" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">26</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">POLE</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Andy</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="68" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">68</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="68" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">68</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="68" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">68</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="27" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">27</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">SPURGEN</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Louis</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="68" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">68</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="68" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">68</font></td>
		<td align="center" sdval="68" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">68</font></b></td>
	</tr></table>
