<div><h1 class="western">Under 12</h1>
<table cellspacing="0" border="0" style="width: 100%;">
	<colgroup width="67"></colgroup>
	<colgroup width="116"></colgroup>
	<colgroup width="90"></colgroup>
	<colgroup width="224"></colgroup>
	<colgroup width="76"></colgroup>
	<colgroup span="2" width="36"></colgroup>
	<colgroup width="55"></colgroup>
	<tr>
		<td height="20" align="left" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Position</font></b></td>
		<td align="left" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Last Name</font></b></td>
		<td align="left" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>First Name</font></b></td>
		<td align="left" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Team</font></b></td>
		<td align="left" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Category</font></b></td>
		<td align="center" style="background: #000000; color: white" sdval="1" sdnum="2057;0;@"><font face="Liberation Serif" size=3>1</font></td>
		<td align="center" style="background: #000000; color: white" sdval="2" sdnum="2057;0;@"><font face="Liberation Serif" size=3>2</font></td>
		<td align="center" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Points</font></b></td>
	</tr>	<tr>
		<td height="20" align="left" sdval="1" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">1</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">NORTHOVER</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Oscar</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Southborough & District Whls</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Under 12</font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">100</font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">100</font></td>
		<td align="center" sdval="200" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">200</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="2" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">2</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">FLETCHER</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ryan</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">4T+ Cyclopark</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Under 12</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">94</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">94</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="188" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">188</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="3" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">3</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">ANDERSON</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Miles</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">4T+ Cyclopark</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Under 12</font></td>
		<td align="center" sdval="90" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">90</font></td>
		<td align="center" sdval="86" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">86</font></td>
		<td align="center" sdval="176" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">176</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="4" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">4</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">NORTHOVER</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Harrison</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Southborough & District Whls</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Under 10</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="86" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">86</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="90" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">90</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="176" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">176</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="5" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">5</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">JENNS</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Sonny</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">4T+ Cyclopark</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Under 12</font></td>
		<td align="center" sdval="83" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">83</font></td>
		<td align="center" sdval="80" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">80</font></td>
		<td align="center" sdval="163" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">163</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="6" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">6</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">CHU</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Kien</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Limited Edition Cycling</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Under 12</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="76" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">76</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="83" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">83</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="159" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">159</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="7" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">7</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">RALCHEVSKI</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ivo</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Limited Edition Cycling</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Under 12</font></td>
		<td align="center" sdval="74" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">74</font></td>
		<td align="center" sdval="78" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">78</font></td>
		<td align="center" sdval="152" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">152</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="8" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">8</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">STEWART</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Lola</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Limited Edition Cycling</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Under 10</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="69" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">69</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="76" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">76</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="145" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">145</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="9" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">9</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">CAVERS</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Arto</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">4T+ Cyclopark</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Under 10</font></td>
		<td align="center" sdval="65" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">65</font></td>
		<td align="center" sdval="74" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">74</font></td>
		<td align="center" sdval="139" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">139</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="10" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">10</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">MATHIE</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Maxwell</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Penge Cycle Club</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Under 10</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="64" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">64</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="72" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">72</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="136" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">136</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="11" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">11</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">WOOD</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Joey</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Under 10</font></td>
		<td align="center" sdval="63" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">63</font></td>
		<td align="center" sdval="69" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">69</font></td>
		<td align="center" sdval="132" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">132</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="12" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">12</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">SHEARWOOD</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Woody</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Limited Edition Cycling</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Under 8</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="62" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">62</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="68" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">68</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="130" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">130</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="13" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">13</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">WHITTLE</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Monty</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Under 12</font></td>
		<td align="center" sdval="61" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">61</font></td>
		<td align="center" sdval="66" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">66</font></td>
		<td align="center" sdval="127" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">127</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="14" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">14</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">BEAUMONT</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Freddie</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Under 10</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="58" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">58</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="65" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">65</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="123" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">123</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="15" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">15</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">CONNOR</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Olive</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Limited Edition Cycling</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Under 10</font></td>
		<td align="center" sdval="60" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">60</font></td>
		<td align="center" sdval="63" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">63</font></td>
		<td align="center" sdval="123" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">123</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="16" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">16</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">ANDERSON</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Kit</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">4T+ Cyclopark</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Under 8</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="54" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">54</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="64" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">64</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="118" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">118</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="17" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">17</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">JENNS</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Axel</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Under 10</font></td>
		<td align="center" sdval="52" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">52</font></td>
		<td align="center" sdval="62" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">62</font></td>
		<td align="center" sdval="114" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">114</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="18" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">18</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">BEAUMONT</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Tom</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Under 8</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="49" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="55" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">55</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="104" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">104</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="19" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">19</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">CHAMBERS</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Felix</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">VC Londres</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Under 12</font></td>
		<td align="center" sdval="80" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">80</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="80" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">80</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="20" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">20</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">SEDGWICK</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Finlay</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">VC Londres</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Under 12</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="78" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">78</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="78" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">78</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="21" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">21</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">PETRUSKEVICIUS</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Elias</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Limited Edition Cycling</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Under 12</font></td>
		<td align="center" sdval="72" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">72</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="72" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">72</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="22" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">22</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">RACKLEY</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Kasper</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Limited Edition Cycling</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Under 10</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="70" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">70</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="70" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">70</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="23" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">23</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">ARMONAS</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Tumas</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">LEC</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Under 12</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="70" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">70</font></td>
		<td align="center" sdval="70" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">70</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="24" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">24</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">LAUDER</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Lathan</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Arctic Aircon</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Under 10</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="68" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">68</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="68" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">68</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="25" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">25</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">FORMBY</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Euan</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Southborough & District Whls</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Under 10</font></td>
		<td align="center" sdval="67" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">67</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="67" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">67</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="26" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">26</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">ROGERS</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Esme</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Southborough & District Whls</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Under 12</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="67" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">67</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="67" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">67</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="27" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">27</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">RACKLEY</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Enyo</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Limited Edition Cycling</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Under 10</font></td>
		<td align="center" sdval="66" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">66</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="66" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">66</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="28" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">28</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">ROGERS</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Frances</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Southborough & District Whls</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Under 10</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="61" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">61</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="61" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">61</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="29" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">29</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">LOCKE</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Fred</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Under 8</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="60" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">60</font></td>
		<td align="center" sdval="60" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">60</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="30" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">30</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">SMEETON</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Luke</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Wigmore CC</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Under 12</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="59" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">59</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="59" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">59</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="31" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">31</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">NEWBOLD</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ralph</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">LBCC</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Under 10</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="59" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">59</font></td>
		<td align="center" sdval="59" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">59</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="32" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">32</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">ROGERS</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Wilfred</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Southborough & District Whls</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Under 8</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="58" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">58</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="58" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">58</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="33" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">33</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">TWYNAM</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Miles</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Wigmore CC</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Under 12</font></td>
		<td align="center" sdval="57" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">57</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="57" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">57</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="34" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">34</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">WOOD</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Isla</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Under 12</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="57" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">57</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="57" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">57</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="35" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">35</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">DOWELL</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">William</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Under 10</font></td>
		<td align="center" sdval="56" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">56</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="56" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">56</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="36" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">36</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">DAVIES</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Hugo</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Under 8</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="56" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">56</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="56" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">56</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="37" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">37</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">MALE</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">George</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Under 12</font></td>
		<td align="center" sdval="55" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">55</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="55" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">55</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="38" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">38</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">MACFARLANE</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Louis</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Under 8</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="54" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">54</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="54" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">54</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="39" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">39</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">CONLON</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Evan</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Kingston Junior Cycle Club</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Under 10</font></td>
		<td align="center" sdval="53" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">53</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="53" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">53</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="40" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">40</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">DOWELL</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Jacob</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Under 8</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="51" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">51</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="51" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">51</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="41" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">41</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">SIMPSON</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Alani</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Under 12</font></td>
		<td align="center" sdval="50" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">50</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="50" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">50</font></b></td>
	</tr></table>
