<div><h1 class="western">Veteran 50 Open</h1>
<table cellspacing="0" border="0" style="width: 100%;">
	<colgroup width="67"></colgroup>
	<colgroup width="116"></colgroup>
	<colgroup width="90"></colgroup>
	<colgroup width="256"></colgroup>
	<colgroup width="76"></colgroup>
	<colgroup span="2" width="36"></colgroup>
	<colgroup width="55"></colgroup>
	<tr>
		<td height="20" align="left" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Position</font></b></td>
		<td align="left" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Last Name</font></b></td>
		<td align="left" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>First Name</font></b></td>
		<td align="left" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Team</font></b></td>
		<td align="left" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Category</font></b></td>
		<td align="center" style="background: #000000; color: white" sdval="1" sdnum="2057;0;@"><font face="Liberation Serif" size=3>1</font></td>
		<td align="center" style="background: #000000; color: white" sdval="2" sdnum="2057;0;@"><font face="Liberation Serif" size=3>2</font></td>
		<td align="center" style="background: #000000; color: white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Points</font></b></td>
	</tr>	<tr>
		<td height="20" align="left" sdval="1" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">1</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">NISBETT</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Stu</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Destination Bike RT</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" sdval="94" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">94</font></td>
		<td align="center" sdval="90" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">90</font></td>
		<td align="center" sdval="184" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">184</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="2" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">2</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">BRINGLOW</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Jimmy</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">London Dynamo</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma60</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="90" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">90</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">94</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="184" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">184</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="3" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">3</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">CHARLTON</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Perrin</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" sdval="78" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">78</font></td>
		<td align="center" sdval="83" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">83</font></td>
		<td align="center" sdval="161" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">161</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="4" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">4</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">CROUCH</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Rupert</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">74</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="86" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">86</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="160" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">160</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="5" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">5</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">WILKINSON</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Stephen</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Vanelli-Project Go</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" sdval="66" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">66</font></td>
		<td align="center" sdval="78" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">78</font></td>
		<td align="center" sdval="144" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">144</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="6" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">6</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">PETERS</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Timothy</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Horsham Cycling</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="67" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">67</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="76" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">76</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="143" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">143</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="7" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">7</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">WILLIAMS</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Keir</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Beeline Bicycles - Sorb</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" sdval="72" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">72</font></td>
		<td align="center" sdval="70" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">70</font></td>
		<td align="center" sdval="142" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">142</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="8" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">8</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">CASTLE</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Stephen</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">GS Invicta-ELO-Herberts Cycles</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="64" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">64</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">74</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="138" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">138</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="9" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">9</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">POPE</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Steven</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">San Fairy Ann CC</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" sdval="63" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">63</font></td>
		<td align="center" sdval="72" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">72</font></td>
		<td align="center" sdval="135" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">135</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="10" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">10</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">NEVILLE</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Paul</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">C and N Cycles RT</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="61" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">61</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="69" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">69</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="130" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">130</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="11" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">11</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">MCCANN</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">David</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma60</font></td>
		<td align="center" sdval="68" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">68</font></td>
		<td align="center" sdval="62" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">62</font></td>
		<td align="center" sdval="130" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">130</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="12" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">12</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">DOWNER</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Jason</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="59" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">59</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="64" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">64</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="123" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">123</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="13" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">13</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">HUGHES</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Christopher</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma60</font></td>
		<td align="center" sdval="57" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">57</font></td>
		<td align="center" sdval="63" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">63</font></td>
		<td align="center" sdval="120" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">120</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="14" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">14</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">PERKINS</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Kevin</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Seeds Cycling Club</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma60</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="58" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">58</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="60" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">60</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="118" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">118</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="15" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">15</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">DREW</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ben</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" sdval="54" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">54</font></td>
		<td align="center" sdval="58" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">58</font></td>
		<td align="center" sdval="112" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">112</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="16" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">16</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">SPENCER</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Keith</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="55" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">55</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="55" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">55</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="110" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">110</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="17" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">17</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">KELSALL</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Liam</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" sdval="60" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">60</font></td>
		<td align="center" sdval="48" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">48</font></td>
		<td align="center" sdval="108" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">108</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="18" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">18</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">BLACKMORE</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Stephen</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma60</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="52" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">52</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="54" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">54</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="106" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">106</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="19" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">19</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">LORD</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Chris</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" sdval="48" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">48</font></td>
		<td align="center" sdval="57" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">57</font></td>
		<td align="center" sdval="105" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">105</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="20" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">20</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">LYONS</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Jon</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">GS Invicta-ELO-Herberts Cycles</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="100" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">100</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="100" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">100</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="21" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">21</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">CAMIER</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Dean</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">CX Cartel</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">100</font></td>
		<td align="center" sdval="100" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">100</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="22" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">22</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">SIMPSON</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">John</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma60</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="51" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">51</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="49" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="100" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">100</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="23" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">23</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">LANGLEY</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Mark</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma60</font></td>
		<td align="center" sdval="46" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">46</font></td>
		<td align="center" sdval="51" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">51</font></td>
		<td align="center" sdval="97" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">97</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="24" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">24</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">NEILSON</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Stuart</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">GS Invicta-ELO-Herberts Cycles</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="49" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="47" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">47</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="96" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">96</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="25" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">25</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">SKINNER</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Kevin</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma60</font></td>
		<td align="center" sdval="47" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">47</font></td>
		<td align="center" sdval="43" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">43</font></td>
		<td align="center" sdval="90" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">90</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="26" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">26</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">OXBERRY</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">David</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="86" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">86</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="86" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">86</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="27" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">27</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">DELVE</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Robin</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Mid Devon CC</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma60</font></td>
		<td align="center" sdval="83" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">83</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="83" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">83</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="28" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">28</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">MURRELL</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Philip</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Forest Side Riders</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="80" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">80</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="80" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">80</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="29" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">29</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">BRADY</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Fergus</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">VC Meudon</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="80" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">80</font></td>
		<td align="center" sdval="80" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">80</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="30" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">30</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">LYONS</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Adrian</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">GS Invicta-ELO-Herberts Cycles</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma60</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="76" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">76</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="76" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">76</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="31" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">31</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">BLISSETT</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Norman</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">trainSharp Roman RT</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" sdval="70" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">70</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="70" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">70</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="32" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">32</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">NEEDHAM</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Jonathan</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">GS Invicta-ELO-Herberts Cycles</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="69" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">69</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="69" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">69</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="33" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">33</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">LOTT</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Kev</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="68" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">68</font></td>
		<td align="center" sdval="68" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">68</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="34" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">34</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">RIMMER</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Duncan</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Morden Cycle Racing Club</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="67" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">67</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="67" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">67</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="35" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">35</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">HUTCHISON</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Glenn</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">RUE MORGUE CYCLE CLUB</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="66" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">66</font></td>
		<td align="center" sdval="66" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">66</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="36" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">36</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">TREACHER</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Martin</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Primo RT</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="65" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">65</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="65" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">65</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="37" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">37</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">CODRINGTON</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Charles</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Dulwich Paragon CC</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma60</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="65" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">65</font></td>
		<td align="center" sdval="65" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">65</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="38" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">38</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">MAHER</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Jonathan</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Dulwich Paragon CC</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="62" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">62</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="62" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">62</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="39" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">39</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">ELSTON</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Adam</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="61" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">61</font></td>
		<td align="center" sdval="61" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">61</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="40" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">40</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">TIPPINS</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Duncan</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">4T+ Cyclopark</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="59" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">59</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="59" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">59</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="41" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">41</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">MARSH</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Nick</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">GS Invicta-ELO-Herberts Cycles</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma60</font></td>
		<td align="center" sdval="56" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">56</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="56" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">56</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="42" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">42</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">MUNDAY</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Paul</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">4T+ Cyclopark</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="56" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">56</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="56" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">56</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="43" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">43</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">BROWN</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">James</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" sdval="53" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">53</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="53" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">53</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="44" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">44</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">BROWN</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Martin</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">7 Oaks Triathlon Club</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma60</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="53" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">53</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="53" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">53</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="45" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">45</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">FINLEY</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ian</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="52" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">52</font></td>
		<td align="center" sdval="52" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">52</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="46" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">46</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">FAGG</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Daniel</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Brighton Mitre CC</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="50" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">50</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="50" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">50</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="47" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">47</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">WHITTAKER</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Matt</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Army Cycling Union</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="50" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">50</font></td>
		<td align="center" sdval="50" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">50</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="48" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">48</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">CAIRD</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Andrew</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="46" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">46</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="46" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">46</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="49" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">49</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">HOLLIS</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Steve</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Bolsover & District Cycling Club</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" sdval="45" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">45</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="45" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">45</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="50" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">50</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">RODGERS</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Steven</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">GS Avanti</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="45" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">45</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="45" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">45</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="51" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">51</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">CONSTANTINE</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Daniel</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" sdval="44" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">44</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="44" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">44</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="52" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">52</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">MARTIN</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Andrew</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="44" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">44</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="44" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">44</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="53" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">53</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">SMITH</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Lee</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" sdval="43" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">43</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="43" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">43</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="54" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">54</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">MORETON</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Mark</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="42" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">42</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="42" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">42</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="55" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">55</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">BENDALL</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Phil</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">4T+ Cyclopark</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="42" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">42</font></td>
		<td align="center" sdval="42" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">42</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="56" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">56</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">BOLDER</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Robert</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ma60</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="41" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">41</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="41" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">41</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="57" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">57</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">BISHOP</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">David</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Wigmore CC</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Ma50</font></td>
		<td align="center" sdval="40" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">40</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="40" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">40</font></b></td>
	</tr></table>
