<div>
<h1 class="western">Youth U16/U14</h1>
<table cellspacing="0" border="0" style="width: 100%;">
	<colgroup width="67"></colgroup>
	<colgroup width="116"></colgroup>
	<colgroup width="90"></colgroup>
	<colgroup width="232"></colgroup>
	<colgroup width="84"></colgroup>
	<colgroup width="62"></colgroup>
	<colgroup span="2" width="36"></colgroup>
	<colgroup width="55"></colgroup>
	<tr>
		<td height="20" align="left" style="background: #000000; color: white;" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Position</font></b></td>
		<td align="left" style="background: #000000; color: white;" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Last Name</font></b></td>
		<td align="left" style="background: #000000; color: white;" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>First Name</font></b></td>
		<td align="left" style="background: #000000; color: white;" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Team</font></b></td>
		<td align="left" style="background: #000000; color: white;" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Category</font></b></td>
		<td align="left" style="background: #000000; color: white;" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Gender</font></b></td>
		<td align="center" style="background: #000000; color: white" sdval="1" sdnum="2057;0;@"><font face="Liberation Serif" size=3>1</font></td>
		<td align="center" style="background: #000000; color: white" sdval="2" sdnum="2057;0;@"><font face="Liberation Serif" size=3>2</font></td>
		<td align="center" style="background: #000000; color: white;" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Points</font></b></td>
	</tr>	<tr>
		<td height="20" align="left" sdval="1" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">1</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">HAINES</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">George</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">VC Londres</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Youth U16</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Open</font></td>
		<td align="center" sdval="80" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">80</font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">100</font></td>
		<td align="center" sdval="180" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">180</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="2" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">2</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">GRAVES</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Hugh</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">4T+ Cyclopark</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Youth U14</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Open</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="100" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">100</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="100" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">100</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="3" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">3</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">GLOAG</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Tiger</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">VC Londres</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Youth U16</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Open</font></td>
		<td align="center" sdval="78" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">78</font></td>
		<td align="center" sdval="94" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">94</font></td>
		<td align="center" sdval="172" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">172</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="4" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">4</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">WILKINSON</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Brodie</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Bigfoot Youth Cycle Club Ltd</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Youth U16</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Open</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">94</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">94</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="5" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">5</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">BALAAM</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Otto</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Herne Hill Youth CC</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Youth U16</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Open</font></td>
		<td align="center" sdval="65" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">65</font></td>
		<td align="center" sdval="90" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">90</font></td>
		<td align="center" sdval="155" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">155</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="6" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">6</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">LAZENBY</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Tom</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Hillingdon Slipstreamers</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Youth U16</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Open</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="90" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">90</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="90" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">90</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="7" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">7</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">MCMAHON</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Leon</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">VC Londres</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Youth U14</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Open</font></td>
		<td align="center" sdval="64" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">64</font></td>
		<td align="center" sdval="86" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">86</font></td>
		<td align="center" sdval="150" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">150</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="8" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">8</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">PATTEN</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Jack</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Preston Park Youth CC (PPYCC)</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Youth U16</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Open</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="86" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">86</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="86" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">86</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="9" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">9</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">FLETCHER</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Luke</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">4T+ Cyclopark</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Youth U16</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Open</font></td>
		<td align="center" sdval="67" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">67</font></td>
		<td align="center" sdval="83" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">83</font></td>
		<td align="center" sdval="150" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">150</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="10" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">10</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">CHAMBERS</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Oscar</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">VC Londres</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Youth U14</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Open</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="83" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">83</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="83" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">83</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="11" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">11</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">KALOGIANNOPOULOS</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Jake</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">4T+ Cyclopark</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Youth U14</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Open</font></td>
		<td align="center" sdval="69" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">69</font></td>
		<td align="center" sdval="80" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">80</font></td>
		<td align="center" sdval="149" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">149</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="12" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">12</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">MORRIS</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Franklin</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Southborough & District Whls</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Youth U16</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Open</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="70" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">70</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="78" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">78</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="148" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">148</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="13" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">13</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">CONNOR</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Floyd</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Limited Edition Cycling</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Youth U14</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Open</font></td>
		<td align="center" sdval="66" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">66</font></td>
		<td align="center" sdval="76" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">76</font></td>
		<td align="center" sdval="142" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">142</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="14" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">14</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">VESEY HOLT</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Raphael</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Preston Park Youth CC (PPYCC)</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Youth U14</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Open</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="76" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">76</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="76" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">76</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="15" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">15</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">BRADFORD</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Oliver</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">4T+ Cyclopark</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Youth U14</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Open</font></td>
		<td align="center" sdval="74" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">74</font></td>
		<td align="center" sdval="74" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">74</font></td>
		<td align="center" sdval="148" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">148</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="16" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">16</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">GIBSON</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Eva</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">4T+ Cyclopark</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Youth U16</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Women</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="72" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">72</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="72" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">72</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="17" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">17</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">LULHAM</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Zachary</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">ViCiOUS VELO</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Youth U14</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Open</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="72" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">72</font></td>
		<td align="center" sdval="72" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">72</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="18" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">18</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">LOTT</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ralph</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Youth U14</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Open</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="70" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">70</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="70" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">70</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="19" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">19</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">TIPPINS</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Jude</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">4T+ Cyclopark</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Youth U14</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Open</font></td>
		<td align="center" sdval="59" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">59</font></td>
		<td align="center" sdval="69" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">69</font></td>
		<td align="center" sdval="128" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">128</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="20" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">20</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">PLAIL</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Dylan</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Bigfoot Youth Cycle Club Ltd</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Youth U14</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Open</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="68" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">68</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="68" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">68</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="21" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">21</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">MURRELL</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Beatrice</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Southborough & District Whls</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Youth U14</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Women</font></td>
		<td align="center" sdval="63" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">63</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="63" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">63</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="22" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">22</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">WASTALL</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Riley</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">4T+ Cyclopark</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Youth U14</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Open</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="62" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">62</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="62" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">62</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="23" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">23</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">ALDERSON</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Toby</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">4T+ Cyclopark</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Youth U14</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Open</font></td>
		<td align="center" sdval="61" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">61</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="61" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">61</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="24" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">24</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">WRIGHT</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Edie</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Limited Edition Cycling</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Youth U16</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Women</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="60" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">60</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="60" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">60</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="25" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">25</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">BROWN</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Natalie</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Limited Edition Cycling</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Youth U14</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Women</font></td>
		<td align="center" sdval="58" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">58</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="58" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">58</font></b></td>
	</tr></table>
