<div><h1 class="western">Elite Female</h1>
<table cellpadding="2" cellspacing="0">
	<col width="26"/>
	<col width="73"/>
	<col width="114"/>
	<col width="77"/>
	<col width="206"/>
	<col width="68"/>
	<col width="33"/>
	<col width="33"/>
	<col width="33"/>
	<col width="33"/>
	<col width="33"/>
	<col width="209"/>
	<col width="97"/>
	<tr>
		<td height="17" bgcolor="#000000" style="background: #000000; border: none; padding: 0cm" sdnum="2057;0;@"><p>
			<br/>

			</p>
		</td>
		<td bgcolor="#000000" style="background: #000000; border: none; padding: 0cm"><p align="center">
			<font color="#ffffff">Cat/Overall</font></p>
		</td>
		<td bgcolor="#000000" style="background: #000000; border: none; padding: 0cm"><p align="left">
			<font color="#ffffff"><font face="Arial"><b>Last Name</b></font></font></p>
		</td>
		<td bgcolor="#000000" style="background: #000000; border: none; padding: 0cm"><p align="left">
			<font color="#ffffff"><font face="Arial"><b>First Name</b></font></font></p>
		</td>
		<td bgcolor="#000000" style="background: #000000; border: none; padding: 0cm"><p align="left">
			<font color="#ffffff"><font face="Arial">Team</font></font></p>
		</td>
		<td bgcolor="#000000" style="background: #000000; border: none; padding: 0cm"><p align="left">
			<font color="#ffffff"><font face="Arial">Category</font></font></p>
		</td>
		<td bgcolor="#000000" style="background: #000000; border: none; padding: 0cm" sdval="1" sdnum="2057;0;@"><p align="center">
			<font color="#ffffff"><font face="Arial">1</font></font></p>
		</td>
		<td bgcolor="#000000" style="background: #000000; border: none; padding: 0cm" sdval="2" sdnum="2057;0;@"><p align="center">
			<font color="#ffffff"><font face="Arial">2</font></font></p>
		</td>
		<td bgcolor="#000000" style="background: #000000; border: none; padding: 0cm" sdval="3" sdnum="2057;0;@"><p align="center">
			<font color="#ffffff"><font face="Arial">3</font></font></p>
		</td>
		<td bgcolor="#000000" style="background: #000000; border: none; padding: 0cm" sdval="4" sdnum="2057;0;@"><p align="center">
			<font color="#ffffff"><font face="Arial">4</font></font></p>
		</td>
		<td bgcolor="#000000" style="background: #000000; border: none; padding: 0cm" sdval="5" sdnum="2057;0;@"><p align="center">
			<font color="#ffffff"><font face="Arial">5</font></font></p>
		</td>
		<td bgcolor="#000000" style="background: #000000; border: none; padding: 0cm"><p align="center">
			<font color="#ffffff"><b>Points (excluding lowest round)</b></font></p>
		</td>
		<td bgcolor="#000000" style="background: #000000; border: none; padding: 0cm"><p align="center">
			<font color="#ffffff">Highest Finish</font></p>
		</td>
	</tr>
	<tr>
		<td height="17" style="border: none; padding: 0cm" sdval="1" sdnum="2057;0;@"><p align="right">
			1</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center">🥇🥇</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>STRILA</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>Victoria</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">Quick
			Release Cycling Club</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">Vet
			40-49</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="74" sdnum="2057;"><p align="center">
			<font face="Arial">74</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="90" sdnum="2057;"><p align="center">
			<font face="Arial">90</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="80" sdnum="2057;"><p align="center">
			<font face="Arial">80</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="90" sdnum="2057;"><p align="center">
			<font face="Arial">90</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="90" sdnum="2057;"><p align="center">
			<font face="Arial">90</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="350" sdnum="2057;"><p align="center">
			<b>350</b></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="3" sdnum="2057;"><p align="center">
			3</p>
		</td>
	</tr>
	<tr>
		<td height="17" bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="2" sdnum="2057;0;@"><p align="right">
			2</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			🥇🥈</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>MALPASS</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>Joanne</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">VC Deal</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Vet 50-59</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="72" sdnum="2057;"><p align="center">
			<font face="Arial">72</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="83" sdnum="2057;"><p align="center">
			<font face="Arial">83</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="78" sdnum="2057;"><p align="center">
			<font face="Arial">78</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="86" sdnum="2057;"><p align="center">
			<font face="Arial">86</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="86" sdnum="2057;"><p align="center">
			<font face="Arial">86</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="333" sdnum="2057;"><p align="center">
			<b>333</b></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="4" sdnum="2057;"><p align="center">
			4</p>
		</td>
	</tr>
	<tr>
		<td height="17" style="border: none; padding: 0cm" sdval="3" sdnum="2057;0;@"><p align="right">
			3</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center">🥇🥉</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>LORD</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>Ilana</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">VC
			Deal</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">Junior</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="83" sdnum="2057;"><p align="center">
			<font face="Arial">83</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="94" sdnum="2057;"><p align="center">
			<font face="Arial">94</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="72" sdnum="2057;"><p align="center">
			<font face="Arial">72</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="74" sdnum="2057;"><p align="center">
			<font face="Arial">74</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm" sdval="323" sdnum="2057;"><p align="center">
			<b>323</b></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="2" sdnum="2057;"><p align="center">
			2</p>
		</td>
	</tr>
	<tr>
		<td height="17" bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="4" sdnum="2057;0;@"><p align="right">
			4</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			🥈</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>DAVIES</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>Edith</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Club Cyclopark</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Junior</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="64" sdnum="2057;"><p align="center">
			<font face="Arial">64</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="76" sdnum="2057;"><p align="center">
			<font face="Arial">76</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="74" sdnum="2057;"><p align="center">
			<font face="Arial">74</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="78" sdnum="2057;"><p align="center">
			<font face="Arial">78</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="80" sdnum="2057;"><p align="center">
			<font face="Arial">80</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="308" sdnum="2057;"><p align="center">
			<b>308</b></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="6" sdnum="2057;"><p align="center">
			6</p>
		</td>
	</tr>
	<tr>
		<td height="17" style="border: none; padding: 0cm" sdval="5" sdnum="2057;0;@"><p align="right">
			5</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center">🥈</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>PETERSMANN</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>Danielle</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">VC
			Deal</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">Vet
			50-59</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="65" sdnum="2057;"><p align="center">
			<font face="Arial">65</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="78" sdnum="2057;"><p align="center">
			<font face="Arial">78</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="70" sdnum="2057;"><p align="center">
			<font face="Arial">70</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm" sdval="83" sdnum="2057;"><p align="center">
			<font face="Arial">83</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="296" sdnum="2057;"><p align="center">
			<b>296</b></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="5" sdnum="2057;"><p align="center">
			5</p>
		</td>
	</tr>
	<tr>
		<td height="17" bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="6" sdnum="2057;0;@"><p align="right">
			6</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			🥇</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>WILKINSON</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>Lesley</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Addiscombe CC</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Vet 60+</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="68" sdnum="2057;"><p align="center">
			<font face="Arial">68</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="68" sdnum="2057;"><p align="center">
			<font face="Arial">68</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="70" sdnum="2057;"><p align="center">
			<font face="Arial">70</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="78" sdnum="2057;"><p align="center">
			<font face="Arial">78</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="284" sdnum="2057;"><p align="center">
			<b>284</b></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="7" sdnum="2057;"><p align="center">
			7</p>
		</td>
	</tr>
	<tr>
		<td height="17" style="border: none; padding: 0cm" sdval="7" sdnum="2057;0;@"><p align="right">
			7</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center">🥈</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>MERRINGTON</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>Hannah</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">(empty)</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">Vet
			40-49</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="61" sdnum="2057;"><p align="center">
			<font face="Arial">61</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="72" sdnum="2057;"><p align="center">
			<font face="Arial">72</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="67" sdnum="2057;"><p align="center">
			<font face="Arial">67</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="69" sdnum="2057;"><p align="center">
			<font face="Arial">69</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="74" sdnum="2057;"><p align="center">
			<font face="Arial">74</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="282" sdnum="2057;"><p align="center">
			<b>282</b></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="9" sdnum="2057;"><p align="center">
			9</p>
		</td>
	</tr>
	<tr>
		<td height="17" bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="8" sdnum="2057;0;@"><p align="right">
			8</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			🥇</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>FREELAND</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>Tricia</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">CX Cartel</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Senior</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="86" sdnum="2057;"><p align="center">
			<font face="Arial">86</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="100" sdnum="2057;"><p align="center">
			<font face="Arial">100</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="90" sdnum="2057;"><p align="center">
			<font face="Arial">90</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="276" sdnum="2057;"><p align="center">
			<b>276</b></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="1" sdnum="2057;"><p align="center">
			1</p>
		</td>
	</tr>
	<tr>
		<td height="17" style="border: none; padding: 0cm" sdval="9" sdnum="2057;0;@"><p align="right">
			9</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center">🥉</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>TAYLOR</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>Sharon</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">Thanet
			RC</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">Vet
			40-49</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="60" sdnum="2057;"><p align="center">
			<font face="Arial">60</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="69" sdnum="2057;"><p align="center">
			<font face="Arial">69</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="66" sdnum="2057;"><p align="center">
			<font face="Arial">66</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="68" sdnum="2057;"><p align="center">
			<font face="Arial">68</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="70" sdnum="2057;"><p align="center">
			<font face="Arial">70</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="273" sdnum="2057;"><p align="center">
			<b>273</b></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="11" sdnum="2057;"><p align="center">
			11</p>
		</td>
	</tr>
	<tr>
		<td height="17" bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="10" sdnum="2057;0;@"><p align="right">
			10</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			🥈</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>CALEIA-RAMOS</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>Natasha</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">ASSOS UK Racing Team</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Senior</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="69" sdnum="2057;"><p align="center">
			<font face="Arial">69</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="80" sdnum="2057;"><p align="center">
			<font face="Arial">80</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="76" sdnum="2057;"><p align="center">
			<font face="Arial">76</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="225" sdnum="2057;"><p align="center">
			<b>225</b></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="6" sdnum="2057;"><p align="center">
			6</p>
		</td>
	</tr>
	<tr>
		<td height="17" style="border: none; padding: 0cm" sdval="11" sdnum="2057;0;@"><p align="right">
			11</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center">🥉</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>WILEY</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>Esme</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">VCL</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">Junior</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm" sdval="86" sdnum="2057;"><p align="center">
			<font face="Arial">86</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="100" sdnum="2057;"><p align="center">
			<font face="Arial">100</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm" sdval="186" sdnum="2057;"><p align="center">
			<b>186</b></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="1" sdnum="2057;"><p align="center">
			1</p>
		</td>
	</tr>
	<tr>
		<td height="17" bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="12" sdnum="2057;0;@"><p align="right">
			12</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdnum="2057;0;@"><p>
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>BAKRANIA</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>Tulsi</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Montezumas Race Team</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Junior</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="90" sdnum="2057;"><p align="center">
			<font face="Arial">90</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="94" sdnum="2057;"><p align="center">
			<font face="Arial">94</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="184" sdnum="2057;"><p align="center">
			<b>184</b></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="2" sdnum="2057;"><p align="center">
			2</p>
		</td>
	</tr>
	<tr>
		<td height="17" style="border: none; padding: 0cm" sdval="13" sdnum="2057;0;@"><p align="right">
			13</p>
		</td>
		<td style="border: none; padding: 0cm" sdnum="2057;0;@"><p><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>HATFIELD</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>Madeleine</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">(empty)</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">Vet
			40-49</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="94" sdnum="2057;"><p align="center">
			<font face="Arial">94</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="74" sdnum="2057;"><p align="center">
			<font face="Arial">74</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm" sdval="168" sdnum="2057;"><p align="center">
			<b>168</b></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="2" sdnum="2057;"><p align="center">
			2</p>
		</td>
	</tr>
	<tr>
		<td height="17" bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="14" sdnum="2057;0;@"><p align="right">
			14</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			🥉</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>HUGHES</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>Nicky</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Southborough &amp; District Whls</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Vet 50-59</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="83" sdnum="2057;"><p align="center">
			<font face="Arial">83</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="80" sdnum="2057;"><p align="center">
			<font face="Arial">80</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="163" sdnum="2057;"><p align="center">
			<b>163</b></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="5" sdnum="2057;"><p align="center">
			5</p>
		</td>
	</tr>
	<tr>
		<td height="17" style="border: none; padding: 0cm" sdval="15" sdnum="2057;0;@"><p align="right">
			15</p>
		</td>
		<td style="border: none; padding: 0cm" sdnum="2057;0;@"><p><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>GLOWINSKI</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>Catherine</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">VC
			Londres</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">Vet
			40-49</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="67" sdnum="2057;"><p align="center">
			<font face="Arial">67</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="86" sdnum="2057;"><p align="center">
			<font face="Arial">86</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm" sdval="153" sdnum="2057;"><p align="center">
			<b>153</b></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="4" sdnum="2057;"><p align="center">
			4</p>
		</td>
	</tr>
	<tr>
		<td height="17" bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="16" sdnum="2057;0;@"><p align="right">
			16</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			🥉</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>WALDER</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>Monica</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Crawley Wheelers</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Senior</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="76" sdnum="2057;"><p align="center">
			<font face="Arial">76</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="72" sdnum="2057;"><p align="center">
			<font face="Arial">72</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="148" sdnum="2057;"><p align="center">
			<b>148</b></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="8" sdnum="2057;"><p align="center">
			8</p>
		</td>
	</tr>
	<tr>
		<td height="17" style="border: none; padding: 0cm" sdval="17" sdnum="2057;0;@"><p align="right">
			17</p>
		</td>
		<td style="border: none; padding: 0cm" sdnum="2057;0;@"><p><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>THOMAS</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>Amy</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">C
			and N Cycles RT</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">Senior</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm" sdval="67" sdnum="2057;"><p align="center">
			<font face="Arial">67</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="72" sdnum="2057;"><p align="center">
			<font face="Arial">72</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="139" sdnum="2057;"><p align="center">
			<b>139</b></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="10" sdnum="2057;"><p align="center">
			10</p>
		</td>
	</tr>
	<tr>
		<td height="17" bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="18" sdnum="2057;0;@"><p align="right">
			18</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdnum="2057;0;@"><p>
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>CHATFIELD</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>Ella</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Crawley Wheelers</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Junior</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="70" sdnum="2057;"><p align="center">
			<font face="Arial">70</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="69" sdnum="2057;"><p align="center">
			<font face="Arial">69</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="139" sdnum="2057;"><p align="center">
			<b>139</b></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="11" sdnum="2057;"><p align="center">
			11</p>
		</td>
	</tr>
	<tr>
		<td height="17" style="border: none; padding: 0cm" sdval="19" sdnum="2057;0;@"><p align="right">
			19</p>
		</td>
		<td style="border: none; padding: 0cm" sdnum="2057;0;@"><p><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>LESLIE</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>Georgia</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">(empty)</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">Senior</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm" sdval="100" sdnum="2057;"><p align="center">
			<font face="Arial">100</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="100" sdnum="2057;"><p align="center">
			<b>100</b></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="1" sdnum="2057;"><p align="center">
			1</p>
		</td>
	</tr>
	<tr>
		<td height="17" bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="20" sdnum="2057;0;@"><p align="right">
			20</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdnum="2057;0;@"><p>
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>LLOYD</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>Carys</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Tofauti Everyone Active</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Junior</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="100" sdnum="2057;"><p align="center">
			<font face="Arial">100</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="100" sdnum="2057;"><p align="center">
			<b>100</b></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="1" sdnum="2057;"><p align="center">
			1</p>
		</td>
	</tr>
	<tr>
		<td height="17" style="border: none; padding: 0cm" sdval="21" sdnum="2057;0;@"><p align="right">
			21</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center">🥇</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>ROCHE</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>Phoebe</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">WXC
			World Racing</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">U23</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="100" sdnum="2057;"><p align="center">
			<font face="Arial">100</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm" sdval="100" sdnum="2057;"><p align="center">
			<b>100</b></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="1" sdnum="2057;"><p align="center">
			1</p>
		</td>
	</tr>
	<tr>
		<td height="17" bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="22" sdnum="2057;0;@"><p align="right">
			22</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdnum="2057;0;@"><p>
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>BEDDIS</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>Delia</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">ViCiOUS VELO</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Vet 40-49</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="94" sdnum="2057;"><p align="center">
			<font face="Arial">94</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="94" sdnum="2057;"><p align="center">
			<b>94</b></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="2" sdnum="2057;"><p align="center">
			2</p>
		</td>
	</tr>
	<tr>
		<td height="17" style="border: none; padding: 0cm" sdval="23" sdnum="2057;0;@"><p align="right">
			23</p>
		</td>
		<td style="border: none; padding: 0cm" sdnum="2057;0;@"><p><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>HAYES</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>Connie</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">AWOL-
			OShea</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">Senior</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm" sdval="94" sdnum="2057;"><p align="center">
			<font face="Arial">94</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm" sdval="94" sdnum="2057;"><p align="center">
			<b>94</b></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="2" sdnum="2057;"><p align="center">
			2</p>
		</td>
	</tr>
	<tr>
		<td height="17" bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="24" sdnum="2057;0;@"><p align="right">
			24</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdnum="2057;0;@"><p>
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>ELLIOT</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>Honor</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">(empty)</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Senior</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="83" sdnum="2057;"><p align="center">
			<font face="Arial">83</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="83" sdnum="2057;"><p align="center">
			<b>83</b></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="5" sdnum="2057;"><p align="center">
			5</p>
		</td>
	</tr>
	<tr>
		<td height="17" style="border: none; padding: 0cm" sdval="25" sdnum="2057;0;@"><p align="right">
			25</p>
		</td>
		<td style="border: none; padding: 0cm" sdnum="2057;0;@"><p><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>TOSTEE</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>Karen</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">Dulwich
			Paragon CC</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">Senior</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="80" sdnum="2057;"><p align="center">
			<font face="Arial">80</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm" sdval="80" sdnum="2057;"><p align="center">
			<b>80</b></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="6" sdnum="2057;"><p align="center">
			6</p>
		</td>
	</tr>
	<tr>
		<td height="17" bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="26" sdnum="2057;0;@"><p align="right">
			26</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdnum="2057;0;@"><p>
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>DIXON</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>Kate</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Oscar Bravo</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Vet 50-59</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="78" sdnum="2057;"><p align="center">
			<font face="Arial">78</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="78" sdnum="2057;"><p align="center">
			<b>78</b></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="7" sdnum="2057;"><p align="center">
			7</p>
		</td>
	</tr>
	<tr>
		<td height="17" style="border: none; padding: 0cm" sdval="27" sdnum="2057;0;@"><p align="right">
			27</p>
		</td>
		<td style="border: none; padding: 0cm" sdnum="2057;0;@"><p><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>MATHIE</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>Wendy</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">Penge
			Cycle Club</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">Vet
			40-49</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm" sdval="76" sdnum="2057;"><p align="center">
			<font face="Arial">76</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="76" sdnum="2057;"><p align="center">
			<b>76</b></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="8" sdnum="2057;"><p align="center">
			8</p>
		</td>
	</tr>
	<tr>
		<td height="17" bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="28" sdnum="2057;0;@"><p align="right">
			28</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdnum="2057;0;@"><p>
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>WALLACE</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>Isabel</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Lee Velo (South East London)</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Junior</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="76" sdnum="2057;"><p align="center">
			<font face="Arial">76</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="76" sdnum="2057;"><p align="center">
			<b>76</b></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="8" sdnum="2057;"><p align="center">
			8</p>
		</td>
	</tr>
	<tr>
		<td height="17" style="border: none; padding: 0cm" sdval="29" sdnum="2057;0;@"><p align="right">
			29</p>
		</td>
		<td style="border: none; padding: 0cm" sdnum="2057;0;@"><p><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>NOBLE</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>Kelly</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">(empty)</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">Vet
			40-49</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm" sdval="70" sdnum="2057;"><p align="center">
			<font face="Arial">70</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm" sdval="70" sdnum="2057;"><p align="center">
			<b>70</b></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="11" sdnum="2057;"><p align="center">
			11</p>
		</td>
	</tr>
	<tr>
		<td height="17" bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="30" sdnum="2057;0;@"><p align="right">
			30</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			🥈</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>DAVEY</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>Jenny</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">(empty)</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Vet 60+</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="66" sdnum="2057;"><p align="center">
			<font face="Arial">66</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="66" sdnum="2057;"><p align="center">
			<b>66</b></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="15" sdnum="2057;"><p align="center">
			15</p>
		</td>
	</tr>
	<tr>
		<td height="17" style="border: none; padding: 0cm" sdval="31" sdnum="2057;0;@"><p align="right">
			31</p>
		</td>
		<td style="border: none; padding: 0cm" sdnum="2057;0;@"><p><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>KNOX</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>Julene</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">ViCiOUS
			VELO</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">Vet
			50-59</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="66" sdnum="2057;"><p align="center">
			<font face="Arial">66</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm" sdval="66" sdnum="2057;"><p align="center">
			<b>66</b></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="15" sdnum="2057;"><p align="center">
			15</p>
		</td>
	</tr>
	<tr>
		<td height="17" bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="32" sdnum="2057;0;@"><p align="right">
			32</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdnum="2057;0;@"><p>
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>JENKINS</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial"><b>Pip</b></font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Southborough</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="left">
			<font face="Arial">Senior</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="63" sdnum="2057;"><p align="center">
			<font face="Arial">63</font></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm"><p align="center">
			<br/>

			</p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="63" sdnum="2057;"><p align="center">
			<b>63</b></p>
		</td>
		<td bgcolor="#cccccc" style="background: #cccccc; border: none; padding: 0cm" sdval="18" sdnum="2057;"><p align="center">
			18</p>
		</td>
	</tr>
	<tr>
		<td height="17" style="border: none; padding: 0cm" sdval="33" sdnum="2057;0;@"><p align="right">
			33</p>
		</td>
		<td style="border: none; padding: 0cm" sdnum="2057;0;@"><p><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>CLIFF</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial"><b>Jill</b></font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">GS
			Invicta-ELO-Herberts Cycles</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="left"><font face="Arial">Vet
			50-59</font></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="62" sdnum="2057;"><p align="center">
			<font face="Arial">62</font></p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm"><p align="center"><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm" sdval="62" sdnum="2057;"><p align="center">
			<b>62</b></p>
		</td>
		<td style="border: none; padding: 0cm" sdval="19" sdnum="2057;"><p align="center">
			19</p>
		</td>
	</tr>
</table>
<p><br/>
<br/>

</p>
</div>