<div id="footer">
    <div style="display:block">
        <img src="{{ url_for('static', path='/images/github-mark.png') }}" style="height:5%;width:5%"/><span>
        <a href="https://github.com/ThePianoDentist/ekcx-web">Source code</a>
    </div>
        <div style="display:block">
    TODO: link facebook (other social links?)
    </div>
    <div style="display:block">
    </span>
        <span>
            <a href="/privacy">Privacy Policy</a>
        </span>
    </div>
    <div style="display:block">
      We have used a modified version of the Creative Commons 3.0 licensed black_white_pink free template from <a href="https://www.html5webtemplates.co.uk/">html5webtemplates.co.uk</a>
    </div>
</div>