<!DOCTYPE HTML>
<html>

<head>
  <title>East Kent Cyclocross - Forum</title>
{% include "head.html" %}
</head>

<body>
  <div id="main">
        {% include "header.html" %}
    <div id="site_content">
      <div id="content" style="background-color:white; color:black; padding: 10px">
          Coming in couple of days (waiting for 🐢 mail provider to finish account setup)<br>
          Ideas, make sections for:
          <ul>
              <li>discussing the local races</li>
              <li>discussing pro-CX races</li>
              <li>sharing media</li>
          <li>
          Maintenance help 🤷: i.e. my bank account can't cope with just buying a new bike each year xD
          </li>
              <li>
          Random off topic-stuff. whatever ヽ(▰ᴥ▰)ﾉ
          </li>
          </ul>
      </div>
    </div>
    {% include "footer.html" %}
  </div>
</body>
</html>
