<!DOCTYPE HTML>
<html>

<head>
  <title>East Kent Cyclocross</title>
  {% include "head.html" %}
</head>

<body>
  <div id="main">
    {% include "header.html" %}
    <div id="site_content">
      {% include "nav.html" %}
      <div id="content" class="card home-intro" style="background-color:white; color:black;">
        <div class="home-copy">
          <h1>East Kent Cyclocross</h1>
          <p>East Kent Cyclocross (EKCX) is a community cyclocross league based in East Kent, running fun and friendly races for over a decade. </p>
          <p>We welcome riders of all ages and abilities, across youth, junior, senior and masters categories.</p>
          <p>Head to our <a href="https://www.facebook.com/eastkentcyclocross" target="_blank" rel="noopener">Facebook page</a> for more info.</p>
          {% include "race_times.html" %}
        </div>
        <div class="home-photos">
          <img src="{{ url_for('static', path='/images/sandwich_homepage.jpg') }}" alt="Sandwich Cyclocross">
          <img src="{{ url_for('static', path='/images/sandwich_homepage2.jpg') }}" alt="Sandwich Cyclocross">
        </div>
      </div>
    </div>
    {% include "footer.html" %}
  </div>
</body>
</html>
