<!DOCTYPE HTML>
<html>

<head>
  <title>East Kent Cyclocross - Media</title>
  {% include "head.html" %}
</head>

<body>
  <div id="main">
        {% include "header.html" %}
    <div id="site_content">
      {% include "nav.html" %}
      <div id="content" style="background-color:white; color:black; padding: 10px">
                Official photos for events can be found and purchased at
        <a href="https://mattbristow.photoshelter.com/gallery-collection/Cycling/C0000_lQOfbRFL4o">Matt Bristow's site</a>
        <br><br>
        Plan: put links to youtube/insta/whatever of people who sometimes record stuff at events... ¯\_(ツ)_/¯
        <br><br>
        If you know someone to add to this list, please ping/make a thread on the forum :)
        <br><br>
        <ul>
          <b>
          <li><a href="https://www.youtube.com/watch?v=skb64d3fl5s" target="_blank">Giorgio Coppola Cycling</a></li>
            <li><a href="https://www.youtube.com/watch?v=oQ15Gxjz_bs" target="_blank">Matt Bristow</a></li>
          <li><a href="https://www.youtube.com/watch?v=qDEDpfrv5WI" target="_blank">Honor & Theo</a></li>
          <li><a href="https://www.youtube.com/watch?v=4N7_B6vZQOo" target="_blank">Fieldy 3638</a></li>
          <li><a href="{{ url_for('static', path='/images/rickroll-roll.gif') }}" target="_blank">Lars van der Haar</a></li>
          </b>
        </ul>
      </div>
    </div>
    {% include "footer.html" %}
  </div>
</body>
</html>
