<div id="menubar" class="menubar">
  <ul id="menu" class="menu">
      <li {{ 'class=selected' if selected == 'home' else '' }}><a href="/">Home</a></li>
    <li {{ 'class=selected' if selected == 'events' else '' }}><a href="/events">Events</a></li>
    <li {{ 'class=selected' if selected == 'standings' else '' }}><a href="/standings/2025/v50">Standings</a></li>
    <li {{ 'class=selected' if selected == 'info' else '' }}><a href="/info">Info</a></li>
    <li {{ 'class=selected' if selected == 'media' else '' }}><a href="/media">Media</a></li>
  </ul>
</div>

