<!DOCTYPE HTML>
<html>

<head>
  <title>East Kent Cyclocross - Privacy</title>
  {% include "head.html" %}
</head>

<body>
  <div id="main">
    {% include "header.html" %}
    <div id="site_content">
      {% include "nav.html" %}
      <div class="sidebar">
        sidebar
      </div>
      <div id="content">
        <div>
    There's no real data collected by this website. Don't even have google analytics or anything.<br>
    So no personal data is passed onto 3rd parties, or used for anything <br>
    Doubt it will ever have any tracking/analytics (adhering to GDPR policies is just a pain. Easier to just not collect data), but if that changes, I'll add a banner to front-page informing people.<br>
    If you do want your data/name removed or changed from standings, or your forum account nuking, best to contact the facebook page <br>
    And we'll try and get your data redacted :)
</div>
      </div>
    </div>
    {% include "footer.html" %}
  </div>
</body>
</html>
