<!DOCTYPE HTML>
<html>

<head>
  <title>East Kent Cyclocross - Standings</title>
{% include "head.html" %}
</head>

<body>
  <div id="main">
        {% include "header.html" %}
    <div id="site_content">
      {% include "nav.html" %}
        <div id="menubar_standings_year"  class="menubar">
        <ul id="menu_standings_year" class="menu">
            <li {{ 'class=selected' if year == 2025 else '' }}><a href="/standings/2025/{{category}}">2025</a></li>
            <li {{ 'class=selected' if year == 2024 else '' }}><a href="/standings/2024/{{category}}">2024</a></li>
            <li {{ 'class=selected' if year == 2023 else '' }}><a href="/standings/2023/{{category}}">2023</a></li>
        </ul>
      </div>
      <div id="menubar_standings"  class="menubar">
        <ul id="menu_standings" class="menu">
            <li {{ 'class=selected' if category == 'v50' else '' }}><a href="/standings/{{year}}/v50">Masters 50/60</a></li>
            <li {{ 'class=selected' if category == 'v40' else '' }}><a href="/standings/{{year}}/v40">Masters 40/Junior</a></li>
            <li  {{ 'class=selected' if category == 'womens' else '' }}><a href="/standings/{{year}}/womens">Elite Female</a></li>
            <li {{ 'class=selected' if category == 'mens' else '' }}><a href="/standings/{{year}}/mens">Elite Open</a></li>
            <li {{ 'class=selected' if category == 'youth' else '' }}><a href="/standings/{{year}}/youth">Youth</a></li>
            <li {{ 'class=selected' if category == 'u12' else '' }}><a href="/standings/{{year}}/u12">Under 12</a></li>
            <li {{ 'class=selected' if category == 'teams' else '' }}><a href="/standings/{{year}}/teams">Teams</a></li>

        </ul>
      </div>
      <div id="content" style="width: 100%;">
          {% include "standings/%s/%s.html" % (year, category) %}
      </div>
    </div>
    {% include "footer.html" %}
  </div>
</body>
</html>
