<div><h1 class="western">Elite Open</h1>
<table cellspacing="0" border="0">
	<colgroup width="26"></colgroup>
	<colgroup width="106"></colgroup>
	<colgroup width="80"></colgroup>
	<colgroup width="188"></colgroup>
	<colgroup span="3" width="33"></colgroup>
	<colgroup width="53"></colgroup>
	<colgroup width="81"></colgroup>
	<tr>
		<td height="17" align="left" style="background: #000000;" sdnum="2057;0;@"><font color="#FFFFFF"><br></font></td>
		<td align="left" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">Last Name</font></td>
		<td align="left" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">First Name</font></td>
		<td align="left" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">Team</font></td>
		<td align="center" style="background: #000000;" sdval="1" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">1</font></td>
		<td align="center" style="background: #000000;" sdval="2" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">2</font></td>
		<td align="center" style="background: #000000;" sdval="3" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">3</font></td>
		<td align="center" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">Points</font></td>
		<td align="center" style="background: #000000;" sdnum="2057;0;@"><b><font color="#FFFFFF">Points (n-1)</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="1" sdnum="2057;0;@">1</td>
		<td align="left"><font face="Arial">BAKRANIA</font></td>
		<td align="left"><font face="Arial">Kishan</font></td>
		<td align="left"><font face="Arial"><br></font></td>
		<td align="center" sdval="94" sdnum="2057;"><font face="Arial">94</font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Arial">100</font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Arial">100</font></td>
		<td align="center" sdval="294" sdnum="2057;"><font face="Arial">294</font></td>
		<td align="center" sdval="200" sdnum="2057;"><b>200</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="2" sdnum="2057;0;@">2</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">CLARKE</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Theo</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><font face="Arial">94</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="90" sdnum="2057;"><font face="Arial">90</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="184" sdnum="2057;"><font face="Arial">184</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="184" sdnum="2057;"><b>184</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="3" sdnum="2057;0;@">3</td>
		<td align="left"><font face="Arial">GLOWINSKI</font></td>
		<td align="left"><font face="Arial">Philip</font></td>
		<td align="left"><font face="Arial">VC Londres</font></td>
		<td align="center" sdval="86" sdnum="2057;"><font face="Arial">86</font></td>
		<td align="center" sdval="86" sdnum="2057;"><font face="Arial">86</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="172" sdnum="2057;"><font face="Arial">172</font></td>
		<td align="center" sdval="172" sdnum="2057;"><b>172</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="4" sdnum="2057;0;@">4</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">BELL</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Dominic</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">C + N Cycles</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="72" sdnum="2057;"><font face="Arial">72</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><font face="Arial">94</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="166" sdnum="2057;"><font face="Arial">166</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="166" sdnum="2057;"><b>166</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="5" sdnum="2057;0;@">5</td>
		<td align="left"><font face="Arial">DENNIS</font></td>
		<td align="left"><font face="Arial">Ashley</font></td>
		<td align="left"><font face="Arial"><br></font></td>
		<td align="center" sdval="74" sdnum="2057;"><font face="Arial">74</font></td>
		<td align="center" sdval="90" sdnum="2057;"><font face="Arial">90</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="164" sdnum="2057;"><font face="Arial">164</font></td>
		<td align="center" sdval="164" sdnum="2057;"><b>164</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="6" sdnum="2057;0;@">6</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">WAKELING</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Josh</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">CX Cartel</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="80" sdnum="2057;"><font face="Arial">80</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="83" sdnum="2057;"><font face="Arial">83</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="163" sdnum="2057;"><font face="Arial">163</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="163" sdnum="2057;"><b>163</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="7" sdnum="2057;0;@">7</td>
		<td align="left"><font face="Arial">PEREZ DIAZ</font></td>
		<td align="left"><font face="Arial">Juan Jose</font></td>
		<td align="left"><font face="Arial">VC Deal</font></td>
		<td align="center" sdval="67" sdnum="2057;"><font face="Arial">67</font></td>
		<td align="center" sdval="76" sdnum="2057;"><font face="Arial">76</font></td>
		<td align="center" sdval="86" sdnum="2057;"><font face="Arial">86</font></td>
		<td align="center" sdval="229" sdnum="2057;"><font face="Arial">229</font></td>
		<td align="center" sdval="162" sdnum="2057;"><b>162</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="8" sdnum="2057;0;@">8</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">MALIK</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Omar</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Southborough &amp; District Whls</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="78" sdnum="2057;"><font face="Arial">78</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><font face="Arial">74</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="80" sdnum="2057;"><font face="Arial">80</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="232" sdnum="2057;"><font face="Arial">232</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="158" sdnum="2057;"><b>158</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="9" sdnum="2057;0;@">9</td>
		<td align="left"><font face="Arial">HILL</font></td>
		<td align="left"><font face="Arial">Luke</font></td>
		<td align="left"><font face="Arial">VC Deal</font></td>
		<td align="center" sdval="76" sdnum="2057;"><font face="Arial">76</font></td>
		<td align="center" sdval="69" sdnum="2057;"><font face="Arial">69</font></td>
		<td align="center" sdval="76" sdnum="2057;"><font face="Arial">76</font></td>
		<td align="center" sdval="221" sdnum="2057;"><font face="Arial">221</font></td>
		<td align="center" sdval="152" sdnum="2057;"><b>152</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="10" sdnum="2057;0;@">10</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">BUTLER</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Michael</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">CX Cartel</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="70" sdnum="2057;"><font face="Arial">70</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="80" sdnum="2057;"><font face="Arial">80</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="150" sdnum="2057;"><font face="Arial">150</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="150" sdnum="2057;"><b>150</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="11" sdnum="2057;0;@">11</td>
		<td align="left"><font face="Arial">MATHIE</font></td>
		<td align="left"><font face="Arial">Richard</font></td>
		<td align="left"><font face="Arial">Penge Cycle Club</font></td>
		<td align="center" sdval="62" sdnum="2057;"><font face="Arial">62</font></td>
		<td align="center" sdval="68" sdnum="2057;"><font face="Arial">68</font></td>
		<td align="center" sdval="78" sdnum="2057;"><font face="Arial">78</font></td>
		<td align="center" sdval="208" sdnum="2057;"><font face="Arial">208</font></td>
		<td align="center" sdval="146" sdnum="2057;"><b>146</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="12" sdnum="2057;0;@">12</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">SUMMERS</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Christopher</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VC Deal</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="63" sdnum="2057;"><font face="Arial">63</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="66" sdnum="2057;"><font face="Arial">66</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="70" sdnum="2057;"><font face="Arial">70</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="199" sdnum="2057;"><font face="Arial">199</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="136" sdnum="2057;"><b>136</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="13" sdnum="2057;0;@">13</td>
		<td align="left"><font face="Arial">METCALFE</font></td>
		<td align="left"><font face="Arial">George</font></td>
		<td align="left"><font face="Arial">Darenth</font></td>
		<td align="center" sdval="72" sdnum="2057;"><font face="Arial">72</font></td>
		<td align="center" sdval="64" sdnum="2057;"><font face="Arial">64</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="136" sdnum="2057;"><font face="Arial">136</font></td>
		<td align="center" sdval="136" sdnum="2057;"><b>136</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="14" sdnum="2057;0;@">14</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">LINK</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Peter</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VC Deal</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="68" sdnum="2057;"><font face="Arial">68</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="63" sdnum="2057;"><font face="Arial">63</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="67" sdnum="2057;"><font face="Arial">67</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="198" sdnum="2057;"><font face="Arial">198</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="135" sdnum="2057;"><b>135</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="15" sdnum="2057;0;@">15</td>
		<td align="left"><font face="Arial">VAUGHAN</font></td>
		<td align="left"><font face="Arial">Fred</font></td>
		<td align="left"><font face="Arial">VC Deal</font></td>
		<td align="center" sdval="64" sdnum="2057;"><font face="Arial">64</font></td>
		<td align="center" sdval="62" sdnum="2057;"><font face="Arial">62</font></td>
		<td align="center" sdval="69" sdnum="2057;"><font face="Arial">69</font></td>
		<td align="center" sdval="195" sdnum="2057;"><font face="Arial">195</font></td>
		<td align="center" sdval="133" sdnum="2057;"><b>133</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="16" sdnum="2057;0;@">16</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">PITTOCK</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">George</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Thanet RC</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="61" sdnum="2057;"><font face="Arial">61</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="72" sdnum="2057;"><font face="Arial">72</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="133" sdnum="2057;"><font face="Arial">133</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="133" sdnum="2057;"><b>133</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="17" sdnum="2057;0;@">17</td>
		<td align="left"><font face="Arial">GILHAM</font></td>
		<td align="left"><font face="Arial">Sean</font></td>
		<td align="left"><font face="Arial"><br></font></td>
		<td align="center" sdval="65" sdnum="2057;"><font face="Arial">65</font></td>
		<td align="center" sdval="65" sdnum="2057;"><font face="Arial">65</font></td>
		<td align="center" sdval="66" sdnum="2057;"><font face="Arial">66</font></td>
		<td align="center" sdval="196" sdnum="2057;"><font face="Arial">196</font></td>
		<td align="center" sdval="131" sdnum="2057;"><b>131</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="18" sdnum="2057;0;@">18</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">KNIGHT</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Johnny</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Canterbury Bicycle Club</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="60" sdnum="2057;"><font face="Arial">60</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="64" sdnum="2057;"><font face="Arial">64</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="124" sdnum="2057;"><font face="Arial">124</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="124" sdnum="2057;"><b>124</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="19" sdnum="2057;0;@">19</td>
		<td align="left"><font face="Arial">HARRIS</font></td>
		<td align="left"><font face="Arial">Jamie</font></td>
		<td align="left"><font face="Arial">Wigmore CC</font></td>
		<td align="center" sdval="59" sdnum="2057;"><font face="Arial">59</font></td>
		<td align="center" sdval="61" sdnum="2057;"><font face="Arial">61</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="120" sdnum="2057;"><font face="Arial">120</font></td>
		<td align="center" sdval="120" sdnum="2057;"><b>120</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="20" sdnum="2057;0;@">20</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">GIBSON</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Luke</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">4T+ Cyclopark</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="100" sdnum="2057;"><font face="Arial">100</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="100" sdnum="2057;"><font face="Arial">100</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="100" sdnum="2057;"><b>100</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="21" sdnum="2057;0;@">21</td>
		<td align="left"><font face="Arial">LLOYD</font></td>
		<td align="left"><font face="Arial">Daniel</font></td>
		<td align="left"><font face="Arial">Transcript</font></td>
		<td align="center" sdval="90" sdnum="2057;"><font face="Arial">90</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="90" sdnum="2057;"><font face="Arial">90</font></td>
		<td align="center" sdval="90" sdnum="2057;"><b>90</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="22" sdnum="2057;0;@">22</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">PAINTER</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Samuel</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="83" sdnum="2057;"><font face="Arial">83</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="83" sdnum="2057;"><font face="Arial">83</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="83" sdnum="2057;"><b>83</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="23" sdnum="2057;0;@">23</td>
		<td align="left"><font face="Arial">WEAVER</font></td>
		<td align="left"><font face="Arial">Henry</font></td>
		<td align="left"><font face="Arial">Southborough &amp; District Whls</font></td>
		<td align="center" sdval="83" sdnum="2057;"><font face="Arial">83</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="83" sdnum="2057;"><font face="Arial">83</font></td>
		<td align="center" sdval="83" sdnum="2057;"><b>83</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="24" sdnum="2057;0;@">24</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">EGAN</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Declan</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Kingston Wheelers CC</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="78" sdnum="2057;"><font face="Arial">78</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="78" sdnum="2057;"><font face="Arial">78</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="78" sdnum="2057;"><b>78</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="25" sdnum="2057;0;@">25</td>
		<td align="left"><font face="Arial">HOGBEN</font></td>
		<td align="left"><font face="Arial">Peter</font></td>
		<td align="left"><font face="Arial">Thanet RC</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="74" sdnum="2057;"><font face="Arial">74</font></td>
		<td align="center" sdval="74" sdnum="2057;"><font face="Arial">74</font></td>
		<td align="center" sdval="74" sdnum="2057;"><b>74</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="26" sdnum="2057;0;@">26</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">STINSON</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Michael</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Athlon</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="70" sdnum="2057;"><font face="Arial">70</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="70" sdnum="2057;"><font face="Arial">70</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="70" sdnum="2057;"><b>70</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="27" sdnum="2057;0;@">27</td>
		<td align="left"><font face="Arial">LOCKE</font></td>
		<td align="left"><font face="Arial">Jamie</font></td>
		<td align="left"><font face="Arial">Thanet RC</font></td>
		<td align="center" sdval="69" sdnum="2057;"><font face="Arial">69</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="69" sdnum="2057;"><font face="Arial">69</font></td>
		<td align="center" sdval="69" sdnum="2057;"><b>69</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="28" sdnum="2057;0;@">28</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">NOBLE</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Pete</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Brixton Cycles Club</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="68" sdnum="2057;"><font face="Arial">68</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="68" sdnum="2057;"><font face="Arial">68</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="68" sdnum="2057;"><b>68</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="29" sdnum="2057;0;@">29</td>
		<td align="left"><font face="Arial">MCKENNEY</font></td>
		<td align="left"><font face="Arial">Josse</font></td>
		<td align="left"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="67" sdnum="2057;"><font face="Arial">67</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="67" sdnum="2057;"><font face="Arial">67</font></td>
		<td align="center" sdval="67" sdnum="2057;"><b>67</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="30" sdnum="2057;0;@">30</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">HERLIHY</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Nick</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="66" sdnum="2057;"><font face="Arial">66</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="66" sdnum="2057;"><font face="Arial">66</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="66" sdnum="2057;"><b>66</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="31" sdnum="2057;0;@">31</td>
		<td align="left"><font face="Arial">LEACH</font></td>
		<td align="left"><font face="Arial">James</font></td>
		<td align="left"><font face="Arial">Brixton Cycles Club</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="65" sdnum="2057;"><font face="Arial">65</font></td>
		<td align="center" sdval="65" sdnum="2057;"><font face="Arial">65</font></td>
		<td align="center" sdval="65" sdnum="2057;"><b>65</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="32" sdnum="2057;0;@">32</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">KIRKIN</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">George</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Imperial Racing Team</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="63" sdnum="2057;"><font face="Arial">63</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="63" sdnum="2057;"><font face="Arial">63</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="63" sdnum="2057;"><b>63</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="33" sdnum="2057;0;@">33</td>
		<td align="left"><font face="Arial">CLAYSON</font></td>
		<td align="left"><font face="Arial">Toby</font></td>
		<td align="left"><font face="Arial">VC Deal</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="62" sdnum="2057;"><font face="Arial">62</font></td>
		<td align="center" sdval="62" sdnum="2057;"><font face="Arial">62</font></td>
		<td align="center" sdval="62" sdnum="2057;"><b>62</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="34" sdnum="2057;0;@">34</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">WHITE </font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Liam</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VC Deal</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="61" sdnum="2057;"><font face="Arial">61</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="61" sdnum="2057;"><font face="Arial">61</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="61" sdnum="2057;"><b>61</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="35" sdnum="2057;0;@">35</td>
		<td align="left"><font face="Arial">GODDEN</font></td>
		<td align="left"><font face="Arial">Nathaniel</font></td>
		<td align="left"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="60" sdnum="2057;"><font face="Arial">60</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="60" sdnum="2057;"><font face="Arial">60</font></td>
		<td align="center" sdval="60" sdnum="2057;"><b>60</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="36" sdnum="2057;0;@">36</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">BENSON</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Joshua</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Brixton Cycles</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="58" sdnum="2057;"><font face="Arial">58</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="58" sdnum="2057;"><font face="Arial">58</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="58" sdnum="2057;"><b>58</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="37" sdnum="2057;0;@">37</td>
		<td align="left"><font face="Arial">BARTOLOMEO</font></td>
		<td align="left"><font face="Arial">Nico</font></td>
		<td align="left"><font face="Arial"><br></font></td>
		<td align="center" sdval="57" sdnum="2057;"><font face="Arial">57</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="57" sdnum="2057;"><font face="Arial">57</font></td>
		<td align="center" sdval="57" sdnum="2057;"><b>57</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="38" sdnum="2057;0;@">38</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">HUMPHRIS</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Ben</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VC Deal</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="56" sdnum="2057;"><font face="Arial">56</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="56" sdnum="2057;"><font face="Arial">56</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="56" sdnum="2057;"><b>56</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="39" sdnum="2057;0;@">39</td>
		<td align="left"><font face="Arial">FISHER</font></td>
		<td align="left"><font face="Arial">Danny</font></td>
		<td align="left"><font face="Arial"><br></font></td>
		<td align="center" sdval="55" sdnum="2057;"><font face="Arial">55</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="55" sdnum="2057;"><font face="Arial">55</font></td>
		<td align="center" sdval="55" sdnum="2057;"><b>55</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="40" sdnum="2057;0;@">40</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">WHITE</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Ben</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="54" sdnum="2057;"><font face="Arial">54</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="54" sdnum="2057;"><font face="Arial">54</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="54" sdnum="2057;"><b>54</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="41" sdnum="2057;0;@">41</td>
		<td align="left"><font face="Arial">JENNS</font></td>
		<td align="left"><font face="Arial">Kirk</font></td>
		<td align="left"><font face="Arial"><br></font></td>
		<td align="center" sdval="53" sdnum="2057;"><font face="Arial">53</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="53" sdnum="2057;"><font face="Arial">53</font></td>
		<td align="center" sdval="53" sdnum="2057;"><b>53</b></td>
	</tr>
</table>
</div>
