<div><h1 class="western">Teams</h1>
<table cellspacing="0" border="0">
	<colgroup width="60"></colgroup>
	<colgroup width="206"></colgroup>
	<colgroup width="87"></colgroup>
	<colgroup width="74"></colgroup>
	<colgroup span="2" width="65"></colgroup>
	<colgroup width="40"></colgroup>
	<colgroup width="35"></colgroup>
	<colgroup width="53"></colgroup>
	<tr>
		<td height="17" align="left" style="background: #000000;" sdnum="2057;0;@"><font color="#FFFFFF">Position</font></td>
		<td align="left" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">Team</font></td>
		<td align="center" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">Elite Female</font></td>
		<td align="center" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">Elite Open</font></td>
		<td align="center" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">Under 12</font></td>
		<td align="center" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">Under 16</font></td>
		<td align="center" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">V40</font></td>
		<td align="center" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">V50</font></td>
		<td align="center" style="background: #000000;" sdnum="2057;0;@"><b><font face="Arial" color="#FFFFFF">Points</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">1</td>
		<td align="left"><font face="Arial">VC Deal</font></td>
		<td align="center" sdval="594" sdnum="2057;"><font face="Arial">594</font></td>
		<td align="center" sdval="1154" sdnum="2057;"><font face="Arial">1154</font></td>
		<td align="center" sdval="518" sdnum="2057;"><font face="Arial">518</font></td>
		<td align="center" sdval="53" sdnum="2057;"><font face="Arial">53</font></td>
		<td align="center" sdval="1626" sdnum="2057;"><font face="Arial">1626</font></td>
		<td align="center" sdval="983" sdnum="2057;"><font face="Arial">983</font></td>
		<td align="center" sdval="4928" sdnum="2057;"><b><font face="Arial">4928</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">2</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">4T+ Cyclopark</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="172" sdnum="2057;"><font face="Arial">172</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="100" sdnum="2057;"><font face="Arial">100</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="1272" sdnum="2057;"><font face="Arial">1272</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="1606" sdnum="2057;"><font face="Arial">1606</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="806" sdnum="2057;"><font face="Arial">806</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="134" sdnum="2057;"><font face="Arial">134</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="4090" sdnum="2057;"><b><font face="Arial">4090</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">3</td>
		<td align="left"><font face="Arial">Southborough &amp; District Whls</font></td>
		<td align="center" sdval="224" sdnum="2057;"><font face="Arial">224</font></td>
		<td align="center" sdval="315" sdnum="2057;"><font face="Arial">315</font></td>
		<td align="center" sdval="674" sdnum="2057;"><font face="Arial">674</font></td>
		<td align="center" sdval="554" sdnum="2057;"><font face="Arial">554</font></td>
		<td align="center" sdval="293" sdnum="2057;"><font face="Arial">293</font></td>
		<td align="center" sdval="93" sdnum="2057;"><font face="Arial">93</font></td>
		<td align="center" sdval="2153" sdnum="2057;"><b><font face="Arial">2153</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">4</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Limited Edition Cycling</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="1194" sdnum="2057;"><font face="Arial">1194</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="461" sdnum="2057;"><font face="Arial">461</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="136" sdnum="2057;"><font face="Arial">136</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="1791" sdnum="2057;"><b><font face="Arial">1791</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">5</td>
		<td align="left"><font face="Arial">VC Londres</font></td>
		<td align="center" sdval="337" sdnum="2057;"><font face="Arial">337</font></td>
		<td align="center" sdval="172" sdnum="2057;"><font face="Arial">172</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="610" sdnum="2057;"><font face="Arial">610</font></td>
		<td align="center" sdval="458" sdnum="2057;"><font face="Arial">458</font></td>
		<td align="center" sdval="92" sdnum="2057;"><font face="Arial">92</font></td>
		<td align="center" sdval="1669" sdnum="2057;"><b><font face="Arial">1669</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">6</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Bigfoot CC</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="236" sdnum="2057;"><font face="Arial">236</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="1047" sdnum="2057;"><font face="Arial">1047</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="176" sdnum="2057;"><font face="Arial">176</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="1459" sdnum="2057;"><b><font face="Arial">1459</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">7</td>
		<td align="left"><font face="Arial">Wigmore CC</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="120" sdnum="2057;"><font face="Arial">120</font></td>
		<td align="center" sdval="349" sdnum="2057;"><font face="Arial">349</font></td>
		<td align="center" sdval="172" sdnum="2057;"><font face="Arial">172</font></td>
		<td align="center" sdval="355" sdnum="2057;"><font face="Arial">355</font></td>
		<td align="center" sdval="60" sdnum="2057;"><font face="Arial">60</font></td>
		<td align="center" sdval="1056" sdnum="2057;"><b><font face="Arial">1056</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">8</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">GS Invicta-ELO-Herberts Cycles</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="67" sdnum="2057;"><font face="Arial">67</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="953" sdnum="2057;"><font face="Arial">953</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="1020" sdnum="2057;"><b><font face="Arial">1020</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">9</td>
		<td align="left"><font face="Arial">ViCiOUS VELO</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="437" sdnum="2057;"><font face="Arial">437</font></td>
		<td align="center" sdval="404" sdnum="2057;"><font face="Arial">404</font></td>
		<td align="center" sdval="90" sdnum="2057;"><font face="Arial">90</font></td>
		<td align="center" sdval="931" sdnum="2057;"><b><font face="Arial">931</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">10</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">CX Cartel</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><font face="Arial">74</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="313" sdnum="2057;"><font face="Arial">313</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="209" sdnum="2057;"><font face="Arial">209</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="280" sdnum="2057;"><font face="Arial">280</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="876" sdnum="2057;"><b><font face="Arial">876</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">11</td>
		<td align="left"><font face="Arial">Penge Cycle Club</font></td>
		<td align="center" sdval="139" sdnum="2057;"><font face="Arial">139</font></td>
		<td align="center" sdval="208" sdnum="2057;"><font face="Arial">208</font></td>
		<td align="center" sdval="129" sdnum="2057;"><font face="Arial">129</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="476" sdnum="2057;"><b><font face="Arial">476</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">12</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">San Fairy Ann CC</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="107" sdnum="2057;"><font face="Arial">107</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="366" sdnum="2057;"><font face="Arial">366</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="473" sdnum="2057;"><b><font face="Arial">473</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">13</td>
		<td align="left"><font face="Arial">Thanet RC</font></td>
		<td align="center" sdval="131" sdnum="2057;"><font face="Arial">131</font></td>
		<td align="center" sdval="276" sdnum="2057;"><font face="Arial">276</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="56" sdnum="2057;"><font face="Arial">56</font></td>
		<td align="center" sdval="463" sdnum="2057;"><b><font face="Arial">463</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">14</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">C and N Cycles RT</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="83" sdnum="2057;"><font face="Arial">83</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="166" sdnum="2057;"><font face="Arial">166</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="183" sdnum="2057;"><font face="Arial">183</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="432" sdnum="2057;"><b><font face="Arial">432</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">15</td>
		<td align="left"><font face="Arial">London Academy</font></td>
		<td align="center" sdval="374" sdnum="2057;"><font face="Arial">374</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="374" sdnum="2057;"><b><font face="Arial">374</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">16</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Hillingdon Slipstreamers</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="367" sdnum="2057;"><font face="Arial">367</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="367" sdnum="2057;"><b><font face="Arial">367</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">17</td>
		<td align="left"><font face="Arial">Lee Velo</font></td>
		<td align="center" sdval="74" sdnum="2057;"><font face="Arial">74</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="120" sdnum="2057;"><font face="Arial">120</font></td>
		<td align="center" sdval="116" sdnum="2057;"><font face="Arial">116</font></td>
		<td align="center" sdval="310" sdnum="2057;"><b><font face="Arial">310</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">18</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Brixton Cycles Club</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="68" sdnum="2057;"><font face="Arial">68</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="191" sdnum="2057;"><font face="Arial">191</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="259" sdnum="2057;"><b><font face="Arial">259</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">19</td>
		<td align="left"><font face="Arial">Abellio - SFA Racing Team</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="224" sdnum="2057;"><font face="Arial">224</font></td>
		<td align="center" sdval="34" sdnum="2057;"><font face="Arial">34</font></td>
		<td align="center" sdval="258" sdnum="2057;"><b><font face="Arial">258</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">20</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VC Meudon</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="258" sdnum="2057;"><font face="Arial">258</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="258" sdnum="2057;"><b><font face="Arial">258</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">21</td>
		<td align="left"><font face="Arial">London Dynamo</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="255" sdnum="2057;"><font face="Arial">255</font></td>
		<td align="center" sdval="255" sdnum="2057;"><b><font face="Arial">255</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">22</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Quick Release Cycling Club</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="248" sdnum="2057;"><font face="Arial">248</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="248" sdnum="2057;"><b><font face="Arial">248</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">23</td>
		<td align="left"><font face="Arial">Destination Bike RT</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="246" sdnum="2057;"><font face="Arial">246</font></td>
		<td align="center" sdval="246" sdnum="2057;"><b><font face="Arial">246</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">24</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Woolwich CC</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="236" sdnum="2057;"><font face="Arial">236</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="236" sdnum="2057;"><b><font face="Arial">236</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">25</td>
		<td align="left"><font face="Arial">Finsbury Park CC</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="218" sdnum="2057;"><font face="Arial">218</font></td>
		<td align="center" sdval="218" sdnum="2057;"><b><font face="Arial">218</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">26</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Army Cycling Union</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="83" sdnum="2057;"><font face="Arial">83</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="129" sdnum="2057;"><font face="Arial">129</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="212" sdnum="2057;"><b><font face="Arial">212</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">27</td>
		<td align="left"><font face="Arial">trainSharp Club</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="207" sdnum="2057;"><font face="Arial">207</font></td>
		<td align="center" sdval="207" sdnum="2057;"><b><font face="Arial">207</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">28</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Kingston Wheelers CC</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="78" sdnum="2057;"><font face="Arial">78</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="124" sdnum="2057;"><font face="Arial">124</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="202" sdnum="2057;"><b><font face="Arial">202</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">29</td>
		<td align="left"><font face="Arial">Horsham Cycling</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="198" sdnum="2057;"><font face="Arial">198</font></td>
		<td align="center" sdval="198" sdnum="2057;"><b><font face="Arial">198</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">30</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Folkestone Velo Club</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="192" sdnum="2057;"><font face="Arial">192</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="192" sdnum="2057;"><b><font face="Arial">192</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">31</td>
		<td align="left"><font face="Arial">7 Oaks Triathlon Club</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="188" sdnum="2057;"><font face="Arial">188</font></td>
		<td align="center" sdval="188" sdnum="2057;"><b><font face="Arial">188</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">32</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Lewes Wanderers CC</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="185" sdnum="2057;"><font face="Arial">185</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="185" sdnum="2057;"><b><font face="Arial">185</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">33</td>
		<td align="left"><font face="Arial">Dulwich Paragon CC</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="183" sdnum="2057;"><font face="Arial">183</font></td>
		<td align="center" sdval="183" sdnum="2057;"><b><font face="Arial">183</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">34</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Basildon CC</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="48" sdnum="2057;"><font face="Arial">48</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="123" sdnum="2057;"><font face="Arial">123</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="171" sdnum="2057;"><b><font face="Arial">171</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">35</td>
		<td align="left"><font face="Arial">GS Avanti</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="47" sdnum="2057;"><font face="Arial">47</font></td>
		<td align="center" sdval="124" sdnum="2057;"><font face="Arial">124</font></td>
		<td align="center" sdval="171" sdnum="2057;"><b><font face="Arial">171</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">36</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Canterbury Bicycle Club</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="124" sdnum="2057;"><font face="Arial">124</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="38" sdnum="2057;"><font face="Arial">38</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="162" sdnum="2057;"><b><font face="Arial">162</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">37</td>
		<td align="left"><font face="Arial">Serpentine Running Club</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="151" sdnum="2057;"><font face="Arial">151</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="151" sdnum="2057;"><b><font face="Arial">151</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">38</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Club Cyclopark</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="140" sdnum="2057;"><font face="Arial">140</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="140" sdnum="2057;"><b><font face="Arial">140</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">39</td>
		<td align="left"><font face="Arial">Herne Hill Youth CC</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="72" sdnum="2057;"><font face="Arial">72</font></td>
		<td align="center" sdval="67" sdnum="2057;"><font face="Arial">67</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="139" sdnum="2057;"><b><font face="Arial">139</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">40</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Sunday Echappée</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="135" sdnum="2057;"><font face="Arial">135</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="135" sdnum="2057;"><b><font face="Arial">135</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">41</td>
		<td align="left"><font face="Arial">Hythe Cycling Club</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="132" sdnum="2057;"><font face="Arial">132</font></td>
		<td align="center" sdval="132" sdnum="2057;"><b><font face="Arial">132</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">42</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">East Grinstead CC</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="118" sdnum="2057;"><font face="Arial">118</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="118" sdnum="2057;"><b><font face="Arial">118</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">43</td>
		<td align="left"><font face="Arial">VC Revolution</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="113" sdnum="2057;"><font face="Arial">113</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="113" sdnum="2057;"><b><font face="Arial">113</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">44</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">CANYON // SRAM Racing Team</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="100" sdnum="2057;"><font face="Arial">100</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="100" sdnum="2057;"><b><font face="Arial">100</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">45</td>
		<td align="left"><font face="Arial">Forest Side Riders</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Arial">100</font></td>
		<td align="center" sdval="100" sdnum="2057;"><b><font face="Arial">100</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">46</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Team Zero Allez</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="100" sdnum="2057;"><font face="Arial">100</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="100" sdnum="2057;"><b><font face="Arial">100</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">47</td>
		<td align="left"><font face="Arial">Sussex Revolution Velo Club</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="94" sdnum="2057;"><font face="Arial">94</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="94" sdnum="2057;"><b><font face="Arial">94</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">48</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Verulam - reallymoving.com</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><font face="Arial">94</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><b><font face="Arial">94</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">49</td>
		<td align="left"><font face="Arial">Transcript</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="90" sdnum="2057;"><font face="Arial">90</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="90" sdnum="2057;"><b><font face="Arial">90</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">50</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Lycra Boys Cycling Club</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><font face="Arial">74</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><b><font face="Arial">74</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">51</td>
		<td align="left"><font face="Arial">ASSOS UK Racing Team</font></td>
		<td align="center" sdval="72" sdnum="2057;"><font face="Arial">72</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="72" sdnum="2057;"><b><font face="Arial">72</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">52</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Darwin</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="72" sdnum="2057;"><font face="Arial">72</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="72" sdnum="2057;"><b><font face="Arial">72</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">53</td>
		<td align="left"><font face="Arial">Athlon</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="70" sdnum="2057;"><font face="Arial">70</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="70" sdnum="2057;"><b><font face="Arial">70</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">54</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Addiscombe CC</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="69" sdnum="2057;"><font face="Arial">69</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="69" sdnum="2057;"><b><font face="Arial">69</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">55</td>
		<td align="left"><font face="Arial">Brocoli Mecanico</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="67" sdnum="2057;"><font face="Arial">67</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="67" sdnum="2057;"><b><font face="Arial">67</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">56</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">ROTOR Race Team</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="65" sdnum="2057;"><font face="Arial">65</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="65" sdnum="2057;"><b><font face="Arial">65</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">57</td>
		<td align="left"><font face="Arial">Darenth</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="64" sdnum="2057;"><font face="Arial">64</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="64" sdnum="2057;"><b><font face="Arial">64</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">58</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Imperial Racing Team</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="63" sdnum="2057;"><font face="Arial">63</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="63" sdnum="2057;"><b><font face="Arial">63</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">59</td>
		<td align="left"><font face="Arial">Vievelo</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="63" sdnum="2057;"><font face="Arial">63</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="63" sdnum="2057;"><b><font face="Arial">63</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">60</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Kent Velo Kids</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="60" sdnum="2057;"><font face="Arial">60</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="60" sdnum="2057;"><b><font face="Arial">60</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">61</td>
		<td align="left"><font face="Arial">Beeline</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="59" sdnum="2057;"><font face="Arial">59</font></td>
		<td align="center" sdval="59" sdnum="2057;"><b><font face="Arial">59</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">62</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Morden Cycle Racing Club</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="57" sdnum="2057;"><font face="Arial">57</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="57" sdnum="2057;"><b><font face="Arial">57</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">63</td>
		<td align="left"><font face="Arial">Gemini BC</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="44" sdnum="2057;"><font face="Arial">44</font></td>
		<td align="center" sdval="44" sdnum="2057;"><b><font face="Arial">44</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">64</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Brighton Mitre CC</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="41" sdnum="2057;"><font face="Arial">41</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="41" sdnum="2057;"><b><font face="Arial">41</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">65</td>
		<td align="left"><font face="Arial">Southdown</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="41" sdnum="2057;"><font face="Arial">41</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="41" sdnum="2057;"><b><font face="Arial">41</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">66</td>
		<td align="left"><font face="Arial">Bolsover &amp; District Cycling Club</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="40" sdnum="2057;"><font face="Arial">40</font></td>
		<td align="center" sdval="40" sdnum="2057;"><b><font face="Arial">40</font></b></td>
	</tr>
</table>
</div>
