<div><h1 class="western">Teams</h1>
<table cellspacing="0" border="0">
	<colgroup width="60"></colgroup>
	<colgroup width="206"></colgroup>
	<colgroup width="87"></colgroup>
	<colgroup width="74"></colgroup>
	<colgroup span="2" width="65"></colgroup>
	<colgroup width="39"></colgroup>
	<colgroup width="35"></colgroup>
	<colgroup width="53"></colgroup>
	<tr>
		<td height="17" align="left" style="background: #000000;" sdnum="2057;0;@"><font color="#FFFFFF">Position</font></td>
		<td align="left" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">Team</font></td>
		<td align="center" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">Elite Female</font></td>
		<td align="center" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">Elite Open</font></td>
		<td align="center" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">Under 12</font></td>
		<td align="center" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">Under 16</font></td>
		<td align="center" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">V40</font></td>
		<td align="center" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">V50</font></td>
		<td align="center" style="background: #000000;" sdnum="2057;0;@"><b><font face="Arial" color="#FFFFFF">Points</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">1</td>
		<td align="left"><font face="Arial">VC Deal</font></td>
		<td align="center" sdval="518" sdnum="2057;"><font face="Arial">518</font></td>
		<td align="center" sdval="663" sdnum="2057;"><font face="Arial">663</font></td>
		<td align="center" sdval="333" sdnum="2057;"><font face="Arial">333</font></td>
		<td align="center" sdval="53" sdnum="2057;"><font face="Arial">53</font></td>
		<td align="center" sdval="1125" sdnum="2057;"><font face="Arial">1125</font></td>
		<td align="center" sdval="764" sdnum="2057;"><font face="Arial">764</font></td>
		<td align="center" sdval="3456" sdnum="2057;"><b><font face="Arial">3456</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">2</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">4T+ Cyclopark</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="86" sdnum="2057;"><font face="Arial">86</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="100" sdnum="2057;"><font face="Arial">100</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="883" sdnum="2057;"><font face="Arial">883</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="1209" sdnum="2057;"><font face="Arial">1209</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="691" sdnum="2057;"><font face="Arial">691</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="39" sdnum="2057;"><font face="Arial">39</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="3008" sdnum="2057;"><b><font face="Arial">3008</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">3</td>
		<td align="left"><font face="Arial">Limited Edition Cycling</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="867" sdnum="2057;"><font face="Arial">867</font></td>
		<td align="center" sdval="293" sdnum="2057;"><font face="Arial">293</font></td>
		<td align="center" sdval="92" sdnum="2057;"><font face="Arial">92</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="1252" sdnum="2057;"><b><font face="Arial">1252</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">4</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VC Londres</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="263" sdnum="2057;"><font face="Arial">263</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="172" sdnum="2057;"><font face="Arial">172</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="465" sdnum="2057;"><font face="Arial">465</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="280" sdnum="2057;"><font face="Arial">280</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="51" sdnum="2057;"><font face="Arial">51</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="1231" sdnum="2057;"><b><font face="Arial">1231</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">5</td>
		<td align="left"><font face="Arial">Southborough &amp; District Whls</font></td>
		<td align="center" sdval="80" sdnum="2057;"><font face="Arial">80</font></td>
		<td align="center" sdval="235" sdnum="2057;"><font face="Arial">235</font></td>
		<td align="center" sdval="352" sdnum="2057;"><font face="Arial">352</font></td>
		<td align="center" sdval="61" sdnum="2057;"><font face="Arial">61</font></td>
		<td align="center" sdval="80" sdnum="2057;"><font face="Arial">80</font></td>
		<td align="center" sdval="43" sdnum="2057;"><font face="Arial">43</font></td>
		<td align="center" sdval="851" sdnum="2057;"><b><font face="Arial">851</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">6</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Bigfoot Youth Cycle Club Ltd</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="156" sdnum="2057;"><font face="Arial">156</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="661" sdnum="2057;"><font face="Arial">661</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="817" sdnum="2057;"><b><font face="Arial">817</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">7</td>
		<td align="left"><font face="Arial">Wigmore CC</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="120" sdnum="2057;"><font face="Arial">120</font></td>
		<td align="center" sdval="233" sdnum="2057;"><font face="Arial">233</font></td>
		<td align="center" sdval="117" sdnum="2057;"><font face="Arial">117</font></td>
		<td align="center" sdval="238" sdnum="2057;"><font face="Arial">238</font></td>
		<td align="center" sdval="60" sdnum="2057;"><font face="Arial">60</font></td>
		<td align="center" sdval="768" sdnum="2057;"><b><font face="Arial">768</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">8</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">ViCiOUS VELO</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="337" sdnum="2057;"><font face="Arial">337</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="242" sdnum="2057;"><font face="Arial">242</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="90" sdnum="2057;"><font face="Arial">90</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="669" sdnum="2057;"><b><font face="Arial">669</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">9</td>
		<td align="left"><font face="Arial">CX Cartel</font></td>
		<td align="center" sdval="74" sdnum="2057;"><font face="Arial">74</font></td>
		<td align="center" sdval="230" sdnum="2057;"><font face="Arial">230</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="142" sdnum="2057;"><font face="Arial">142</font></td>
		<td align="center" sdval="180" sdnum="2057;"><font face="Arial">180</font></td>
		<td align="center" sdval="626" sdnum="2057;"><b><font face="Arial">626</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">10</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">GS Invicta-ELO-Herberts Cycles</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="67" sdnum="2057;"><font face="Arial">67</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="531" sdnum="2057;"><font face="Arial">531</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="598" sdnum="2057;"><b><font face="Arial">598</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">11</td>
		<td align="left"><font face="Arial">Penge Cycle Club</font></td>
		<td align="center" sdval="69" sdnum="2057;"><font face="Arial">69</font></td>
		<td align="center" sdval="130" sdnum="2057;"><font face="Arial">130</font></td>
		<td align="center" sdval="129" sdnum="2057;"><font face="Arial">129</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="328" sdnum="2057;"><b><font face="Arial">328</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">12</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Lee Velo</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><font face="Arial">74</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="120" sdnum="2057;"><font face="Arial">120</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="116" sdnum="2057;"><font face="Arial">116</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="310" sdnum="2057;"><b><font face="Arial">310</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">13</td>
		<td align="left"><font face="Arial">San Fairy Ann CC</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="53" sdnum="2057;"><font face="Arial">53</font></td>
		<td align="center" sdval="234" sdnum="2057;"><font face="Arial">234</font></td>
		<td align="center" sdval="287" sdnum="2057;"><b><font face="Arial">287</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">14</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">London Academy</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="284" sdnum="2057;"><font face="Arial">284</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="284" sdnum="2057;"><b><font face="Arial">284</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">15</td>
		<td align="left"><font face="Arial">Thanet RC</font></td>
		<td align="center" sdval="65" sdnum="2057;"><font face="Arial">65</font></td>
		<td align="center" sdval="130" sdnum="2057;"><font face="Arial">130</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="56" sdnum="2057;"><font face="Arial">56</font></td>
		<td align="center" sdval="251" sdnum="2057;"><b><font face="Arial">251</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">16</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Hillingdon Slipstreamers</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="206" sdnum="2057;"><font face="Arial">206</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="206" sdnum="2057;"><b><font face="Arial">206</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">17</td>
		<td align="left"><font face="Arial">Abellio - SFA Racing Team</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="168" sdnum="2057;"><font face="Arial">168</font></td>
		<td align="center" sdval="34" sdnum="2057;"><font face="Arial">34</font></td>
		<td align="center" sdval="202" sdnum="2057;"><b><font face="Arial">202</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">18</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Kingston Wheelers CC</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="78" sdnum="2057;"><font face="Arial">78</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="124" sdnum="2057;"><font face="Arial">124</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="202" sdnum="2057;"><b><font face="Arial">202</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">19</td>
		<td align="left"><font face="Arial">Dulwich Paragon CC</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="183" sdnum="2057;"><font face="Arial">183</font></td>
		<td align="center" sdval="183" sdnum="2057;"><b><font face="Arial">183</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">20</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Quick Release Cycling Club</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="170" sdnum="2057;"><font face="Arial">170</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="170" sdnum="2057;"><b><font face="Arial">170</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">21</td>
		<td align="left"><font face="Arial">London Dynamo</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="169" sdnum="2057;"><font face="Arial">169</font></td>
		<td align="center" sdval="169" sdnum="2057;"><b><font face="Arial">169</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">22</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VC Meudon</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="168" sdnum="2057;"><font face="Arial">168</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="168" sdnum="2057;"><b><font face="Arial">168</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">23</td>
		<td align="left"><font face="Arial">Army Cycling Union</font></td>
		<td align="center" sdval="83" sdnum="2057;"><font face="Arial">83</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="82" sdnum="2057;"><font face="Arial">82</font></td>
		<td align="center" sdval="165" sdnum="2057;"><b><font face="Arial">165</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">24</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Destination Bike RT</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="163" sdnum="2057;"><font face="Arial">163</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="163" sdnum="2057;"><b><font face="Arial">163</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">25</td>
		<td align="left"><font face="Arial">Woolwich CC</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="160" sdnum="2057;"><font face="Arial">160</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="160" sdnum="2057;"><b><font face="Arial">160</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">26</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Finsbury Park CC</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="144" sdnum="2057;"><font face="Arial">144</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="144" sdnum="2057;"><b><font face="Arial">144</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">27</td>
		<td align="left"><font face="Arial">Club Cyclopark</font></td>
		<td align="center" sdval="140" sdnum="2057;"><font face="Arial">140</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="140" sdnum="2057;"><b><font face="Arial">140</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">28</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">trainSharp Club</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="137" sdnum="2057;"><font face="Arial">137</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="137" sdnum="2057;"><b><font face="Arial">137</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">29</td>
		<td align="left"><font face="Arial">7 Oaks Triathlon Club</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="134" sdnum="2057;"><font face="Arial">134</font></td>
		<td align="center" sdval="134" sdnum="2057;"><b><font face="Arial">134</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">30</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Folkestone Velo Club</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="133" sdnum="2057;"><font face="Arial">133</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="133" sdnum="2057;"><b><font face="Arial">133</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">31</td>
		<td align="left"><font face="Arial">Hythe Cycling Club</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="132" sdnum="2057;"><font face="Arial">132</font></td>
		<td align="center" sdval="132" sdnum="2057;"><b><font face="Arial">132</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">32</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Horsham Cycling</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="130" sdnum="2057;"><font face="Arial">130</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="130" sdnum="2057;"><b><font face="Arial">130</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">33</td>
		<td align="left"><font face="Arial">Lewes Wanderers CC</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="125" sdnum="2057;"><font face="Arial">125</font></td>
		<td align="center" sdval="125" sdnum="2057;"><b><font face="Arial">125</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">34</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">C and N Cycles RT</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="122" sdnum="2057;"><font face="Arial">122</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="122" sdnum="2057;"><b><font face="Arial">122</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">35</td>
		<td align="left"><font face="Arial">VC Revolution</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="113" sdnum="2057;"><font face="Arial">113</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="113" sdnum="2057;"><b><font face="Arial">113</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">36</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Basildon CC</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="48" sdnum="2057;"><font face="Arial">48</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="59" sdnum="2057;"><font face="Arial">59</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="107" sdnum="2057;"><b><font face="Arial">107</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">37</td>
		<td align="left"><font face="Arial">Serpentine Running Club</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="106" sdnum="2057;"><font face="Arial">106</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="106" sdnum="2057;"><b><font face="Arial">106</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">38</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Forest Side Riders</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="100" sdnum="2057;"><font face="Arial">100</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="100" sdnum="2057;"><b><font face="Arial">100</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">39</td>
		<td align="left"><font face="Arial">Team Zero Allez</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Arial">100</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="100" sdnum="2057;"><b><font face="Arial">100</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">40</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Verulam - reallymoving.com</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><font face="Arial">94</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><b><font face="Arial">94</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">41</td>
		<td align="left"><font face="Arial">SDW</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="90" sdnum="2057;"><font face="Arial">90</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="90" sdnum="2057;"><b><font face="Arial">90</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">42</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Transcript</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="90" sdnum="2057;"><font face="Arial">90</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="90" sdnum="2057;"><b><font face="Arial">90</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">43</td>
		<td align="left"><font face="Arial">Bigfoot CC</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="86" sdnum="2057;"><font face="Arial">86</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="86" sdnum="2057;"><b><font face="Arial">86</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">44</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Lycra Boys Cycling Club</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><font face="Arial">74</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><b><font face="Arial">74</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">45</td>
		<td align="left"><font face="Arial">C + N Cycles</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="72" sdnum="2057;"><font face="Arial">72</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="72" sdnum="2057;"><b><font face="Arial">72</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">46</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Darwin</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="72" sdnum="2057;"><font face="Arial">72</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="72" sdnum="2057;"><b><font face="Arial">72</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">47</td>
		<td align="left"><font face="Arial">Herne Hill Youth CC</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="72" sdnum="2057;"><font face="Arial">72</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="72" sdnum="2057;"><b><font face="Arial">72</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">48</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Athlon</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="70" sdnum="2057;"><font face="Arial">70</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="70" sdnum="2057;"><b><font face="Arial">70</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">49</td>
		<td align="left"><font face="Arial">Sunday Echappée</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="69" sdnum="2057;"><font face="Arial">69</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="69" sdnum="2057;"><b><font face="Arial">69</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">50</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Brocoli Mecanico</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="67" sdnum="2057;"><font face="Arial">67</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="67" sdnum="2057;"><b><font face="Arial">67</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">51</td>
		<td align="left"><font face="Arial">Darenth</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="64" sdnum="2057;"><font face="Arial">64</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="64" sdnum="2057;"><b><font face="Arial">64</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">52</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Southborough District Wheelers</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="64" sdnum="2057;"><font face="Arial">64</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="64" sdnum="2057;"><b><font face="Arial">64</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">53</td>
		<td align="left"><font face="Arial">Canterbury Bicycle Club</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="60" sdnum="2057;"><font face="Arial">60</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="60" sdnum="2057;"><b><font face="Arial">60</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">54</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Kent Velo Kids</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="60" sdnum="2057;"><font face="Arial">60</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="60" sdnum="2057;"><b><font face="Arial">60</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">55</td>
		<td align="left"><font face="Arial">Brixton Cycles</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="58" sdnum="2057;"><font face="Arial">58</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="58" sdnum="2057;"><b><font face="Arial">58</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">56</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">GS Avanti</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="57" sdnum="2057;"><font face="Arial">57</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="57" sdnum="2057;"><b><font face="Arial">57</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">57</td>
		<td align="left"><font face="Arial">East Grinstead CC</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="56" sdnum="2057;"><font face="Arial">56</font></td>
		<td align="center" sdval="56" sdnum="2057;"><b><font face="Arial">56</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdnum="2057;0;@">58</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Gemini BC</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="44" sdnum="2057;"><font face="Arial">44</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="44" sdnum="2057;"><b><font face="Arial">44</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">59</td>
		<td align="left"><font face="Arial">Brighton Mitre CC</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="41" sdnum="2057;"><font face="Arial">41</font></td>
		<td align="center" sdval="41" sdnum="2057;"><b><font face="Arial">41</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdnum="2057;0;@">60</td>
		<td align="left"><font face="Arial">Bolsover &amp; District Cycling Club</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="40" sdnum="2057;"><font face="Arial">40</font></td>
		<td align="center" sdval="40" sdnum="2057;"><b><font face="Arial">40</font></b></td>
	</tr>
</table>
</div>
