<div><h1 class="western">U12</h1>
<table cellspacing="0" border="0">
	<colgroup width="60"></colgroup>
	<colgroup width="172"></colgroup>
	<colgroup width="77"></colgroup>
	<colgroup width="188"></colgroup>
	<colgroup width="65"></colgroup>
	<colgroup width="57"></colgroup>
	<colgroup span="3" width="33"></colgroup>
	<colgroup width="50"></colgroup>
	<colgroup width="81"></colgroup>
	<tr>
		<td height="17" align="left" style="background: #000000;" sdnum="2057;0;@"><font color="#FFFFFF">Position</font></td>
		<td align="left" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">Last Name</font></td>
		<td align="left" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">First Name</font></td>
		<td align="left" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">Team</font></td>
		<td align="left" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">Category</font></td>
		<td align="left" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">Gender</font></td>
		<td align="center" style="background: #000000;" sdval="1" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">1</font></td>
		<td align="center" style="background: #000000;" sdval="2" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">2</font></td>
		<td align="center" style="background: #000000;" sdnum="2057;0;@"><b><font face="Arial" color="#FFFFFF">3</font></b></td>
		<td align="center" style="background: #000000;" sdnum="2057;0;@"><font color="#FFFFFF">Points</font></td>
		<td align="center" style="background: #000000;" sdnum="2057;0;@"><b><font color="#FFFFFF">Points (n-1)</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="1" sdnum="2057;0;@">1</td>
		<td align="left"><font face="Arial">NORTHOVER</font></td>
		<td align="left"><font face="Arial">Oscar</font></td>
		<td align="left"><font face="Arial">Southborough &amp; District Whls</font></td>
		<td align="left"><font face="Arial">Under 12</font></td>
		<td align="left"><font face="Arial">Open</font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Arial">100</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Arial">100</font></td>
		<td align="center" sdval="200" sdnum="2057;"><font face="Arial">200</font></td>
		<td align="center" sdval="200" sdnum="2057;"><b>200</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="2" sdnum="2057;0;@">2</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">BRADFORD</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Oliver</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">4T+ Cyclopark</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Under 12</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Open</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="83" sdnum="2057;"><font face="Arial">83</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="100" sdnum="2057;"><font face="Arial">100</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="86" sdnum="2057;"><font face="Arial">86</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="269" sdnum="2057;"><font face="Arial">269</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="186" sdnum="2057;"><b>186</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="3" sdnum="2057;0;@">3</td>
		<td align="left"><font face="Arial">ANDERSON</font></td>
		<td align="left"><font face="Arial">Miles</font></td>
		<td align="left"><font face="Arial">4T+ Cyclopark</font></td>
		<td align="left"><font face="Arial">Under 12</font></td>
		<td align="left"><font face="Arial">Open</font></td>
		<td align="center" sdval="90" sdnum="2057;"><font face="Arial">90</font></td>
		<td align="center" sdval="94" sdnum="2057;"><font face="Arial">94</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="184" sdnum="2057;"><font face="Arial">184</font></td>
		<td align="center" sdval="184" sdnum="2057;"><b>184</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="4" sdnum="2057;0;@">4</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">FLETCHER</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Ryan</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">4T+ Cyclopark</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Under 12</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Open</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><font face="Arial">94</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="90" sdnum="2057;"><font face="Arial">90</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="184" sdnum="2057;"><font face="Arial">184</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="184" sdnum="2057;"><b>184</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="5" sdnum="2057;0;@">5</td>
		<td align="left"><font face="Arial">MURRELL</font></td>
		<td align="left"><font face="Arial">Beatrice</font></td>
		<td align="left"><font face="Arial">Southborough &amp; District Whls</font></td>
		<td align="left"><font face="Arial">Under 12</font></td>
		<td align="left"><font face="Arial">Women</font></td>
		<td align="center" sdval="86" sdnum="2057;"><font face="Arial">86</font></td>
		<td align="center" sdval="90" sdnum="2057;"><font face="Arial">90</font></td>
		<td align="center" sdval="78" sdnum="2057;"><font face="Arial">78</font></td>
		<td align="center" sdval="254" sdnum="2057;"><font face="Arial">254</font></td>
		<td align="center" sdval="176" sdnum="2057;"><b>176</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="6" sdnum="2057;0;@">6</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">WILKINSON</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Greta</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Bigfoot Youth Cycle Club Ltd</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Under 12</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Women</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="70" sdnum="2057;"><font face="Arial">70</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="86" sdnum="2057;"><font face="Arial">86</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="80" sdnum="2057;"><font face="Arial">80</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="236" sdnum="2057;"><font face="Arial">236</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="166" sdnum="2057;"><b>166</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="7" sdnum="2057;0;@">7</td>
		<td align="left"><font face="Arial">KALOGIANNOPOULOS</font></td>
		<td align="left"><font face="Arial">Jake</font></td>
		<td align="left"><font face="Arial">Woolwich CC</font></td>
		<td align="left"><font face="Arial">Under 12</font></td>
		<td align="left"><font face="Arial">Open</font></td>
		<td align="center" sdval="80" sdnum="2057;"><font face="Arial">80</font></td>
		<td align="center" sdval="80" sdnum="2057;"><font face="Arial">80</font></td>
		<td align="center" sdval="76" sdnum="2057;"><font face="Arial">76</font></td>
		<td align="center" sdval="236" sdnum="2057;"><font face="Arial">236</font></td>
		<td align="center" sdval="160" sdnum="2057;"><b>160</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="8" sdnum="2057;0;@">8</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">NORTHOVER </font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Harrison</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Southborough &amp; District Whls</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Under 10</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Open</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="76" sdnum="2057;"><font face="Arial">76</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="83" sdnum="2057;"><font face="Arial">83</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="159" sdnum="2057;"><font face="Arial">159</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="159" sdnum="2057;"><b>159</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="9" sdnum="2057;0;@">9</td>
		<td align="left"><font face="Arial">WASTALL</font></td>
		<td align="left"><font face="Arial">Riley</font></td>
		<td align="left"><font face="Arial">4T+ Cyclopark</font></td>
		<td align="left"><font face="Arial">Under 12</font></td>
		<td align="left"><font face="Arial">Open</font></td>
		<td align="center" sdval="78" sdnum="2057;"><font face="Arial">78</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="74" sdnum="2057;"><font face="Arial">74</font></td>
		<td align="center" sdval="152" sdnum="2057;"><font face="Arial">152</font></td>
		<td align="center" sdval="152" sdnum="2057;"><b>152</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="10" sdnum="2057;0;@">10</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">YOUNG</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Oliver</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">4T+ Cyclopark</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Under 12</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Open</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="65" sdnum="2057;"><font face="Arial">65</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="78" sdnum="2057;"><font face="Arial">78</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="69" sdnum="2057;"><font face="Arial">69</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="212" sdnum="2057;"><font face="Arial">212</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="147" sdnum="2057;"><b>147</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="11" sdnum="2057;0;@">11</td>
		<td align="left"><font face="Arial">JENNS</font></td>
		<td align="left"><font face="Arial">Sonny</font></td>
		<td align="left"><font face="Arial">4T+ Cyclopark</font></td>
		<td align="left"><font face="Arial">Under 10</font></td>
		<td align="left"><font face="Arial">Open</font></td>
		<td align="center" sdval="68" sdnum="2057;"><font face="Arial">68</font></td>
		<td align="center" sdval="76" sdnum="2057;"><font face="Arial">76</font></td>
		<td align="center" sdval="70" sdnum="2057;"><font face="Arial">70</font></td>
		<td align="center" sdval="214" sdnum="2057;"><font face="Arial">214</font></td>
		<td align="center" sdval="146" sdnum="2057;"><b>146</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="12" sdnum="2057;0;@">12</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">PETRUSKEVICIUS</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Elias</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Limited Edition Cycling</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Under 10</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Open</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="67" sdnum="2057;"><font face="Arial">67</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><font face="Arial">74</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="68" sdnum="2057;"><font face="Arial">68</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="209" sdnum="2057;"><font face="Arial">209</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="142" sdnum="2057;"><b>142</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="13" sdnum="2057;0;@">13</td>
		<td align="left"><font face="Arial">SAVULIONIS-PTASNIKAS</font></td>
		<td align="left"><font face="Arial">Tejus</font></td>
		<td align="left"><font face="Arial">Limited Edition Cycling</font></td>
		<td align="left"><font face="Arial">Under 12</font></td>
		<td align="left"><font face="Arial">Open</font></td>
		<td align="center" sdval="69" sdnum="2057;"><font face="Arial">69</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="72" sdnum="2057;"><font face="Arial">72</font></td>
		<td align="center" sdval="141" sdnum="2057;"><font face="Arial">141</font></td>
		<td align="center" sdval="141" sdnum="2057;"><b>141</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="14" sdnum="2057;0;@">14</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">STEWART</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Lola</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Limited Edition Cycling</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Under 10</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Women</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="64" sdnum="2057;"><font face="Arial">64</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="70" sdnum="2057;"><font face="Arial">70</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="67" sdnum="2057;"><font face="Arial">67</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="201" sdnum="2057;"><font face="Arial">201</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="137" sdnum="2057;"><b>137</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="15" sdnum="2057;0;@">15</td>
		<td align="left"><font face="Arial">WHITE</font></td>
		<td align="left"><font face="Arial">George</font></td>
		<td align="left"><font face="Arial"><br></font></td>
		<td align="left"><font face="Arial">Under 12</font></td>
		<td align="left"><font face="Arial">Open</font></td>
		<td align="center" sdval="63" sdnum="2057;"><font face="Arial">63</font></td>
		<td align="center" sdval="67" sdnum="2057;"><font face="Arial">67</font></td>
		<td align="center" sdval="66" sdnum="2057;"><font face="Arial">66</font></td>
		<td align="center" sdval="196" sdnum="2057;"><font face="Arial">196</font></td>
		<td align="center" sdval="133" sdnum="2057;"><b>133</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="16" sdnum="2057;0;@">16</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">WHITTLE</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Monty</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Under 10</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Open</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="65" sdnum="2057;"><font face="Arial">65</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="65" sdnum="2057;"><font face="Arial">65</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="130" sdnum="2057;"><font face="Arial">130</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="130" sdnum="2057;"><b>130</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="17" sdnum="2057;0;@">17</td>
		<td align="left"><font face="Arial">MATHIE</font></td>
		<td align="left"><font face="Arial">Maxwell</font></td>
		<td align="left"><font face="Arial">Penge Cycle Club</font></td>
		<td align="left"><font face="Arial">Under 10</font></td>
		<td align="left"><font face="Arial">Open</font></td>
		<td align="center" sdval="61" sdnum="2057;"><font face="Arial">61</font></td>
		<td align="center" sdval="68" sdnum="2057;"><font face="Arial">68</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="129" sdnum="2057;"><font face="Arial">129</font></td>
		<td align="center" sdval="129" sdnum="2057;"><b>129</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="18" sdnum="2057;0;@">18</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">WOOD</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Joey</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Under 8</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Open</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="62" sdnum="2057;"><font face="Arial">62</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="64" sdnum="2057;"><font face="Arial">64</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="64" sdnum="2057;"><font face="Arial">64</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="190" sdnum="2057;"><font face="Arial">190</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="128" sdnum="2057;"><b>128</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="19" sdnum="2057;0;@">19</td>
		<td align="left"><font face="Arial">SHEARWOOD</font></td>
		<td align="left"><font face="Arial">Woody</font></td>
		<td align="left"><font face="Arial">Limited Edition Cycling</font></td>
		<td align="left"><font face="Arial">Under 8</font></td>
		<td align="left"><font face="Arial">Open</font></td>
		<td align="center" sdval="58" sdnum="2057;"><font face="Arial">58</font></td>
		<td align="center" sdval="62" sdnum="2057;"><font face="Arial">62</font></td>
		<td align="center" sdval="62" sdnum="2057;"><font face="Arial">62</font></td>
		<td align="center" sdval="182" sdnum="2057;"><font face="Arial">182</font></td>
		<td align="center" sdval="124" sdnum="2057;"><b>124</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="20" sdnum="2057;0;@">20</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">CONNOR</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Olive</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Limited Edition Cycling</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Under 10</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Women</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="56" sdnum="2057;"><font face="Arial">56</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="66" sdnum="2057;"><font face="Arial">66</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="58" sdnum="2057;"><font face="Arial">58</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="180" sdnum="2057;"><font face="Arial">180</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="124" sdnum="2057;"><b>124</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="21" sdnum="2057;0;@">21</td>
		<td align="left"><font face="Arial">SMEETON</font></td>
		<td align="left"><font face="Arial">Luke</font></td>
		<td align="left"><font face="Arial">Wigmore CC</font></td>
		<td align="left"><font face="Arial">Under 10</font></td>
		<td align="left"><font face="Arial">Open</font></td>
		<td align="center" sdval="55" sdnum="2057;"><font face="Arial">55</font></td>
		<td align="center" sdval="61" sdnum="2057;"><font face="Arial">61</font></td>
		<td align="center" sdval="59" sdnum="2057;"><font face="Arial">59</font></td>
		<td align="center" sdval="175" sdnum="2057;"><font face="Arial">175</font></td>
		<td align="center" sdval="120" sdnum="2057;"><b>120</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="22" sdnum="2057;0;@">22</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">DOWELL</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">William</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Under 8</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Open</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="53" sdnum="2057;"><font face="Arial">53</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="60" sdnum="2057;"><font face="Arial">60</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="60" sdnum="2057;"><font face="Arial">60</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="173" sdnum="2057;"><font face="Arial">173</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="120" sdnum="2057;"><b>120</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="23" sdnum="2057;0;@">23</td>
		<td align="left"><font face="Arial">TWYNAM</font></td>
		<td align="left"><font face="Arial">Miles</font></td>
		<td align="left"><font face="Arial">Wigmore CC</font></td>
		<td align="left"><font face="Arial">Under 10</font></td>
		<td align="left"><font face="Arial">Open</font></td>
		<td align="center" sdval="54" sdnum="2057;"><font face="Arial">54</font></td>
		<td align="center" sdval="63" sdnum="2057;"><font face="Arial">63</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="117" sdnum="2057;"><font face="Arial">117</font></td>
		<td align="center" sdval="117" sdnum="2057;"><b>117</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="24" sdnum="2057;0;@">24</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">TRAKSEL</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Mats</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Under 12</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Open</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><font face="Arial">94</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><font face="Arial">94</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><b>94</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="25" sdnum="2057;0;@">25</td>
		<td align="left"><font face="Arial">PRESTON </font></td>
		<td align="left"><font face="Arial">Stanley</font></td>
		<td align="left"><font face="Arial">VC Deal</font></td>
		<td align="left"><font face="Arial">Under 12</font></td>
		<td align="left"><font face="Arial">Open</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="83" sdnum="2057;"><font face="Arial">83</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="83" sdnum="2057;"><font face="Arial">83</font></td>
		<td align="center" sdval="83" sdnum="2057;"><b>83</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="26" sdnum="2057;0;@">26</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">CHU</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Kien</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Limited Edition Cycling</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Under 12</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Open</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><font face="Arial">74</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><font face="Arial">74</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><b>74</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="27" sdnum="2057;0;@">27</td>
		<td align="left"><font face="Arial">PERILLA</font></td>
		<td align="left"><font face="Arial">Lucas</font></td>
		<td align="left"><font face="Arial">Limited Edition Cycling</font></td>
		<td align="left"><font face="Arial">Under 12</font></td>
		<td align="left"><font face="Arial">Open</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="72" sdnum="2057;"><font face="Arial">72</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="72" sdnum="2057;"><font face="Arial">72</font></td>
		<td align="center" sdval="72" sdnum="2057;"><b>72</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="28" sdnum="2057;0;@">28</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">SURDA</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Oskar</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Herne Hill Youth CC</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Under 10</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Open</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="72" sdnum="2057;"><font face="Arial">72</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="72" sdnum="2057;"><font face="Arial">72</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="72" sdnum="2057;"><b>72</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="29" sdnum="2057;0;@">29</td>
		<td align="left"><font face="Arial">RACKLEY</font></td>
		<td align="left"><font face="Arial">Enyo</font></td>
		<td align="left"><font face="Arial">Limited Edition Cycling</font></td>
		<td align="left"><font face="Arial">Under 10</font></td>
		<td align="left"><font face="Arial">Women</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="69" sdnum="2057;"><font face="Arial">69</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="69" sdnum="2057;"><font face="Arial">69</font></td>
		<td align="center" sdval="69" sdnum="2057;"><b>69</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="30" sdnum="2057;0;@">30</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">FURLONG</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Daniel</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Limited Edition Cycling</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Under 12</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Open</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="66" sdnum="2057;"><font face="Arial">66</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="66" sdnum="2057;"><font face="Arial">66</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="66" sdnum="2057;"><b>66</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="31" sdnum="2057;0;@">31</td>
		<td align="left"><font face="Arial">KUNZ</font></td>
		<td align="left"><font face="Arial">Nicolas</font></td>
		<td align="left"><font face="Arial"><br></font></td>
		<td align="left"><font face="Arial">Under 10</font></td>
		<td align="left"><font face="Arial">Open</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="63" sdnum="2057;"><font face="Arial">63</font></td>
		<td align="center" sdval="63" sdnum="2057;"><font face="Arial">63</font></td>
		<td align="center" sdval="63" sdnum="2057;"><b>63</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="32" sdnum="2057;0;@">32</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">FORMBY</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Euan</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Southborough &amp; District Whls</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Under 8</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Open</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="61" sdnum="2057;"><font face="Arial">61</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="61" sdnum="2057;"><font face="Arial">61</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="61" sdnum="2057;"><b>61</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="33" sdnum="2057;0;@">33</td>
		<td align="left"><font face="Arial">HACKER</font></td>
		<td align="left"><font face="Arial">Walter</font></td>
		<td align="left"><font face="Arial">Kent Velo Kids</font></td>
		<td align="left"><font face="Arial">Under 10</font></td>
		<td align="left"><font face="Arial">Open</font></td>
		<td align="center" sdval="60" sdnum="2057;"><font face="Arial">60</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="60" sdnum="2057;"><font face="Arial">60</font></td>
		<td align="center" sdval="60" sdnum="2057;"><b>60</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="34" sdnum="2057;0;@">34</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">PRESTON</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Edith</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Under 10</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Women</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="59" sdnum="2057;"><font face="Arial">59</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="59" sdnum="2057;"><font face="Arial">59</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="59" sdnum="2057;"><b>59</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="35" sdnum="2057;0;@">35</td>
		<td align="left"><font face="Arial">MURPHY</font></td>
		<td align="left"><font face="Arial">laila</font></td>
		<td align="left"><font face="Arial">4T+ Cyclopark</font></td>
		<td align="left"><font face="Arial">Under 10</font></td>
		<td align="left"><font face="Arial">Women</font></td>
		<td align="center" sdval="57" sdnum="2057;"><font face="Arial">57</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="57" sdnum="2057;"><font face="Arial">57</font></td>
		<td align="center" sdval="57" sdnum="2057;"><b>57</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="36" sdnum="2057;0;@">36</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">TWYMAN</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Miles</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Wigmore</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Under 10</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Open</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="57" sdnum="2057;"><font face="Arial">57</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="57" sdnum="2057;"><font face="Arial">57</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="57" sdnum="2057;"><b>57</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="37" sdnum="2057;0;@">37</td>
		<td align="left"><font face="Arial">WOOD </font></td>
		<td align="left"><font face="Arial">Isla</font></td>
		<td align="left"><font face="Arial">VC Deal</font></td>
		<td align="left"><font face="Arial">Under 12</font></td>
		<td align="left"><font face="Arial">Women</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="56" sdnum="2057;"><font face="Arial">56</font></td>
		<td align="center" sdval="56" sdnum="2057;"><font face="Arial">56</font></td>
		<td align="center" sdval="56" sdnum="2057;"><b>56</b></td>
	</tr>
</table>
</div>
