<div><h1 class="western">V40</h1>
<table cellspacing="0" border="0">
	<colgroup width="60"></colgroup>
	<colgroup width="96"></colgroup>
	<colgroup width="77"></colgroup>
	<colgroup width="188"></colgroup>
	<colgroup width="68"></colgroup>
	<colgroup span="3" width="33"></colgroup>
	<colgroup width="50"></colgroup>
	<colgroup width="81"></colgroup>
	<tr>
		<td height="17" align="left" style="background: #000000;" sdnum="2057;0;@"><font color="#FFFFFF">Position</font></td>
		<td align="left" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">Last Name</font></td>
		<td align="left" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">First Name</font></td>
		<td align="left" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">Team</font></td>
		<td align="left" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">Category</font></td>
		<td align="center" style="background: #000000;" sdval="1" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">1</font></td>
		<td align="center" style="background: #000000;" sdval="2" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">2</font></td>
		<td align="center" style="background: #000000;" sdnum="2057;0;@"><b><font face="Arial" color="#FFFFFF">3</font></b></td>
		<td align="center" style="background: #000000;" sdnum="2057;0;@"><font color="#FFFFFF">Points</font></td>
		<td align="center" style="background: #000000;" sdnum="2057;0;@"><b><font color="#FFFFFF">Points (n-1)</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="1" sdnum="2057;0;@">1</td>
		<td align="left"><font face="Arial">GLOWINSKI</font></td>
		<td align="left"><font face="Arial">Philip</font></td>
		<td align="left"><font face="Arial">VC Londres</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center" sdval="86" sdnum="2057;"><font face="Arial">86</font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Arial">100</font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Arial">100</font></td>
		<td align="center" sdval="286" sdnum="2057;"><font face="Arial">286</font></td>
		<td align="center" sdval="200" sdnum="2057;"><b>200</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="2" sdnum="2057;0;@">2</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">BIRKS</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Jules</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VC Londres</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="100" sdnum="2057;"><font face="Arial">100</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><font face="Arial">94</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="78" sdnum="2057;"><font face="Arial">78</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="272" sdnum="2057;"><font face="Arial">272</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="194" sdnum="2057;"><b>194</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="3" sdnum="2057;0;@">3</td>
		<td align="left"><font face="Arial">LULHAM</font></td>
		<td align="left"><font face="Arial">Geoffrey</font></td>
		<td align="left"><font face="Arial">ViCiOUS VELO</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center" sdval="78" sdnum="2057;"><font face="Arial">78</font></td>
		<td align="center" sdval="90" sdnum="2057;"><font face="Arial">90</font></td>
		<td align="center" sdval="86" sdnum="2057;"><font face="Arial">86</font></td>
		<td align="center" sdval="254" sdnum="2057;"><font face="Arial">254</font></td>
		<td align="center" sdval="176" sdnum="2057;"><b>176</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="4" sdnum="2057;0;@">4</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">BELL</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Bill</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Bigfoot CC</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="86" sdnum="2057;"><font face="Arial">86</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="90" sdnum="2057;"><font face="Arial">90</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="176" sdnum="2057;"><font face="Arial">176</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="176" sdnum="2057;"><b>176</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="5" sdnum="2057;0;@">5</td>
		<td align="left"><font face="Arial">GIBSON</font></td>
		<td align="left"><font face="Arial">Stephen</font></td>
		<td align="left"><font face="Arial">4T+ Cyclopark</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center" sdval="83" sdnum="2057;"><font face="Arial">83</font></td>
		<td align="center" sdval="83" sdnum="2057;"><font face="Arial">83</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="166" sdnum="2057;"><font face="Arial">166</font></td>
		<td align="center" sdval="166" sdnum="2057;"><b>166</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="6" sdnum="2057;0;@">6</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">NORTHOVER</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Daniel</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Southborough &amp; District Whls</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="80" sdnum="2057;"><font face="Arial">80</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="80" sdnum="2057;"><font face="Arial">80</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="160" sdnum="2057;"><font face="Arial">160</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="160" sdnum="2057;"><b>160</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="7" sdnum="2057;0;@">7</td>
		<td align="left"><font face="Arial">DUNN</font></td>
		<td align="left"><font face="Arial">Neil</font></td>
		<td align="left"><font face="Arial"><br></font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="80" sdnum="2057;"><font face="Arial">80</font></td>
		<td align="center" sdval="74" sdnum="2057;"><font face="Arial">74</font></td>
		<td align="center" sdval="154" sdnum="2057;"><font face="Arial">154</font></td>
		<td align="center" sdval="154" sdnum="2057;"><b>154</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="8" sdnum="2057;0;@">8</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">WATSON</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Keith</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="76" sdnum="2057;"><font face="Arial">76</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="76" sdnum="2057;"><font face="Arial">76</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="69" sdnum="2057;"><font face="Arial">69</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="221" sdnum="2057;"><font face="Arial">221</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="152" sdnum="2057;"><b>152</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="9" sdnum="2057;0;@">9</td>
		<td align="left"><font face="Arial">BRAID</font></td>
		<td align="left"><font face="Arial">Dan</font></td>
		<td align="left"><font face="Arial">ViCiOUS VELO</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="74" sdnum="2057;"><font face="Arial">74</font></td>
		<td align="center" sdval="76" sdnum="2057;"><font face="Arial">76</font></td>
		<td align="center" sdval="150" sdnum="2057;"><font face="Arial">150</font></td>
		<td align="center" sdval="150" sdnum="2057;"><b>150</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="10" sdnum="2057;0;@">10</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">FIELD</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Mark</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="72" sdnum="2057;"><font face="Arial">72</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="78" sdnum="2057;"><font face="Arial">78</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="150" sdnum="2057;"><font face="Arial">150</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="150" sdnum="2057;"><b>150</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="11" sdnum="2057;0;@">11</td>
		<td align="left"><font face="Arial">BALDWIN</font></td>
		<td align="left"><font face="Arial">Stuart</font></td>
		<td align="left"><font face="Arial">CX Cartel</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center" sdval="70" sdnum="2057;"><font face="Arial">70</font></td>
		<td align="center" sdval="72" sdnum="2057;"><font face="Arial">72</font></td>
		<td align="center" sdval="67" sdnum="2057;"><font face="Arial">67</font></td>
		<td align="center" sdval="209" sdnum="2057;"><font face="Arial">209</font></td>
		<td align="center" sdval="142" sdnum="2057;"><b>142</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="12" sdnum="2057;0;@">12</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">GREGORY</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Josh</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="70" sdnum="2057;"><font face="Arial">70</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="70" sdnum="2057;"><font face="Arial">70</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="140" sdnum="2057;"><font face="Arial">140</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="140" sdnum="2057;"><b>140</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="13" sdnum="2057;0;@">13</td>
		<td align="left"><font face="Arial">BRYAN</font></td>
		<td align="left"><font face="Arial">Ross</font></td>
		<td align="left"><font face="Arial">VC Deal</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center" sdval="64" sdnum="2057;"><font face="Arial">64</font></td>
		<td align="center" sdval="69" sdnum="2057;"><font face="Arial">69</font></td>
		<td align="center" sdval="68" sdnum="2057;"><font face="Arial">68</font></td>
		<td align="center" sdval="201" sdnum="2057;"><font face="Arial">201</font></td>
		<td align="center" sdval="137" sdnum="2057;"><b>137</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="14" sdnum="2057;0;@">14</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">COOKE</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Nathaniel</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Sunday Echappée</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="69" sdnum="2057;"><font face="Arial">69</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="66" sdnum="2057;"><font face="Arial">66</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="135" sdnum="2057;"><font face="Arial">135</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="135" sdnum="2057;"><b>135</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="15" sdnum="2057;0;@">15</td>
		<td align="left"><font face="Arial">BARTLETT</font></td>
		<td align="left"><font face="Arial">Benjamin</font></td>
		<td align="left"><font face="Arial">Folkestone Velo Club</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center" sdval="67" sdnum="2057;"><font face="Arial">67</font></td>
		<td align="center" sdval="66" sdnum="2057;"><font face="Arial">66</font></td>
		<td align="center" sdval="59" sdnum="2057;"><font face="Arial">59</font></td>
		<td align="center" sdval="192" sdnum="2057;"><font face="Arial">192</font></td>
		<td align="center" sdval="133" sdnum="2057;"><b>133</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="16" sdnum="2057;0;@">16</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">OSBORNE</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Ben</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">4T+ Cyclopark</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Junior</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="65" sdnum="2057;"><font face="Arial">65</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="68" sdnum="2057;"><font face="Arial">68</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="51" sdnum="2057;"><font face="Arial">51</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="184" sdnum="2057;"><font face="Arial">184</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="133" sdnum="2057;"><b>133</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="17" sdnum="2057;0;@">17</td>
		<td align="left"><font face="Arial">GRAVES</font></td>
		<td align="left"><font face="Arial">Mark</font></td>
		<td align="left"><font face="Arial">4T+ Cyclopark</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center" sdval="66" sdnum="2057;"><font face="Arial">66</font></td>
		<td align="center" sdval="65" sdnum="2057;"><font face="Arial">65</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="131" sdnum="2057;"><font face="Arial">131</font></td>
		<td align="center" sdval="131" sdnum="2057;"><b>131</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="18" sdnum="2057;0;@">18</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">CAVERS</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Ben</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">4T+ Cyclopark</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="64" sdnum="2057;"><font face="Arial">64</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="64" sdnum="2057;"><font face="Arial">64</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="128" sdnum="2057;"><font face="Arial">128</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="128" sdnum="2057;"><b>128</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="19" sdnum="2057;0;@">19</td>
		<td align="left"><font face="Arial">ANDERSON</font></td>
		<td align="left"><font face="Arial">Luke</font></td>
		<td align="left"><font face="Arial"><br></font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="67" sdnum="2057;"><font face="Arial">67</font></td>
		<td align="center" sdval="60" sdnum="2057;"><font face="Arial">60</font></td>
		<td align="center" sdval="127" sdnum="2057;"><font face="Arial">127</font></td>
		<td align="center" sdval="127" sdnum="2057;"><b>127</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="20" sdnum="2057;0;@">20</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">GODDEN</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Paul</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="62" sdnum="2057;"><font face="Arial">62</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="63" sdnum="2057;"><font face="Arial">63</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="58" sdnum="2057;"><font face="Arial">58</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="183" sdnum="2057;"><font face="Arial">183</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="125" sdnum="2057;"><b>125</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="21" sdnum="2057;0;@">21</td>
		<td align="left"><font face="Arial">OSBORN</font></td>
		<td align="left"><font face="Arial">Simon</font></td>
		<td align="left"><font face="Arial">Wigmore CC</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center" sdval="58" sdnum="2057;"><font face="Arial">58</font></td>
		<td align="center" sdval="59" sdnum="2057;"><font face="Arial">59</font></td>
		<td align="center" sdval="62" sdnum="2057;"><font face="Arial">62</font></td>
		<td align="center" sdval="179" sdnum="2057;"><font face="Arial">179</font></td>
		<td align="center" sdval="121" sdnum="2057;"><b>121</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="22" sdnum="2057;0;@">22</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">EVERALL</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Edmund</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Wigmore CC</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="63" sdnum="2057;"><font face="Arial">63</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="58" sdnum="2057;"><font face="Arial">58</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="55" sdnum="2057;"><font face="Arial">55</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="176" sdnum="2057;"><font face="Arial">176</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="121" sdnum="2057;"><b>121</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="23" sdnum="2057;0;@">23</td>
		<td align="left"><font face="Arial">DALY</font></td>
		<td align="left"><font face="Arial">Ben</font></td>
		<td align="left"><font face="Arial">Lee Velo</font></td>
		<td align="left"><font face="Arial">Junior</font></td>
		<td align="center" sdval="68" sdnum="2057;"><font face="Arial">68</font></td>
		<td align="center" sdval="52" sdnum="2057;"><font face="Arial">52</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="120" sdnum="2057;"><font face="Arial">120</font></td>
		<td align="center" sdval="120" sdnum="2057;"><b>120</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="24" sdnum="2057;0;@">24</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">LAWTON</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Timothy</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="59" sdnum="2057;"><font face="Arial">59</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="61" sdnum="2057;"><font face="Arial">61</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="120" sdnum="2057;"><font face="Arial">120</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="120" sdnum="2057;"><b>120</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="25" sdnum="2057;0;@">25</td>
		<td align="left"><font face="Arial">LACEY</font></td>
		<td align="left"><font face="Arial">Matthew</font></td>
		<td align="left"><font face="Arial">Abellio - SFA Racing Team</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="62" sdnum="2057;"><font face="Arial">62</font></td>
		<td align="center" sdval="56" sdnum="2057;"><font face="Arial">56</font></td>
		<td align="center" sdval="118" sdnum="2057;"><font face="Arial">118</font></td>
		<td align="center" sdval="118" sdnum="2057;"><b>118</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="26" sdnum="2057;0;@">26</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">LOTT</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Kev</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="60" sdnum="2057;"><font face="Arial">60</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="56" sdnum="2057;"><font face="Arial">56</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="53" sdnum="2057;"><font face="Arial">53</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="169" sdnum="2057;"><font face="Arial">169</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="116" sdnum="2057;"><b>116</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="27" sdnum="2057;0;@">27</td>
		<td align="left"><font face="Arial">PEARS</font></td>
		<td align="left"><font face="Arial">Mike</font></td>
		<td align="left"><font face="Arial">VC Revolution</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center" sdval="56" sdnum="2057;"><font face="Arial">56</font></td>
		<td align="center" sdval="57" sdnum="2057;"><font face="Arial">57</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="113" sdnum="2057;"><font face="Arial">113</font></td>
		<td align="center" sdval="113" sdnum="2057;"><b>113</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="28" sdnum="2057;0;@">28</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">JENNER</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Paul</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">San Fairy Ann CC</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="53" sdnum="2057;"><font face="Arial">53</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="54" sdnum="2057;"><font face="Arial">54</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="107" sdnum="2057;"><font face="Arial">107</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="107" sdnum="2057;"><b>107</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="29" sdnum="2057;0;@">29</td>
		<td align="left"><font face="Arial">ROBINSON</font></td>
		<td align="left"><font face="Arial">David</font></td>
		<td align="left"><font face="Arial">Serpentine Running Club</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center" sdval="52" sdnum="2057;"><font face="Arial">52</font></td>
		<td align="center" sdval="54" sdnum="2057;"><font face="Arial">54</font></td>
		<td align="center" sdval="45" sdnum="2057;"><font face="Arial">45</font></td>
		<td align="center" sdval="151" sdnum="2057;"><font face="Arial">151</font></td>
		<td align="center" sdval="106" sdnum="2057;"><b>106</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="30" sdnum="2057;0;@">30</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">SIMMONS</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Paul</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Abellio - SFA Racing Team</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="57" sdnum="2057;"><font face="Arial">57</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="49" sdnum="2057;"><font face="Arial">49</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="106" sdnum="2057;"><font face="Arial">106</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="106" sdnum="2057;"><b>106</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="31" sdnum="2057;0;@">31</td>
		<td align="left"><font face="Arial">WARD</font></td>
		<td align="left"><font face="Arial">Edwin</font></td>
		<td align="left"><font face="Arial"><br></font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center" sdval="53" sdnum="2057;"><font face="Arial">53</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="48" sdnum="2057;"><font face="Arial">48</font></td>
		<td align="center" sdval="101" sdnum="2057;"><font face="Arial">101</font></td>
		<td align="center" sdval="101" sdnum="2057;"><b>101</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="32" sdnum="2057;0;@">32</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">ARNOLD</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Robert</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="50" sdnum="2057;"><font face="Arial">50</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="50" sdnum="2057;"><font face="Arial">50</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="46" sdnum="2057;"><font face="Arial">46</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="146" sdnum="2057;"><font face="Arial">146</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="100" sdnum="2057;"><b>100</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="33" sdnum="2057;0;@">33</td>
		<td align="left"><font face="Arial">DREW</font></td>
		<td align="left"><font face="Arial">Benjamin</font></td>
		<td align="left"><font face="Arial">VC Deal</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="51" sdnum="2057;"><font face="Arial">51</font></td>
		<td align="center" sdval="49" sdnum="2057;"><font face="Arial">49</font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Arial">100</font></td>
		<td align="center" sdval="100" sdnum="2057;"><b>100</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="34" sdnum="2057;0;@">34</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">GROSICKI</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Jan</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Sussex Revolution Velo Club</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><font face="Arial">94</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><font face="Arial">94</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><b>94</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="35" sdnum="2057;0;@">35</td>
		<td align="left"><font face="Arial">STACEY</font></td>
		<td align="left"><font face="Arial">Samuel</font></td>
		<td align="left"><font face="Arial">Verulam - reallymoving.com</font></td>
		<td align="left"><font face="Arial">Junior</font></td>
		<td align="center" sdval="94" sdnum="2057;"><font face="Arial">94</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="94" sdnum="2057;"><font face="Arial">94</font></td>
		<td align="center" sdval="94" sdnum="2057;"><b>94</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="36" sdnum="2057;0;@">36</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">FOWLER</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">David</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="49" sdnum="2057;"><font face="Arial">49</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="43" sdnum="2057;"><font face="Arial">43</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="92" sdnum="2057;"><font face="Arial">92</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="92" sdnum="2057;"><b>92</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="37" sdnum="2057;0;@">37</td>
		<td align="left"><font face="Arial">PRESTON</font></td>
		<td align="left"><font face="Arial">Robert</font></td>
		<td align="left"><font face="Arial">VC Deal</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center" sdval="45" sdnum="2057;"><font face="Arial">45</font></td>
		<td align="center" sdval="46" sdnum="2057;"><font face="Arial">46</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="91" sdnum="2057;"><font face="Arial">91</font></td>
		<td align="center" sdval="91" sdnum="2057;"><b>91</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="38" sdnum="2057;0;@">38</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">FLETCHER</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Matthew</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">4T+ Cyclopark</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Junior</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="90" sdnum="2057;"><font face="Arial">90</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="90" sdnum="2057;"><font face="Arial">90</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="90" sdnum="2057;"><b>90</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="39" sdnum="2057;0;@">39</td>
		<td align="left"><font face="Arial">SMIT</font></td>
		<td align="left"><font face="Arial">Johnny</font></td>
		<td align="left"><font face="Arial">Limited Edition Cycling</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center" sdval="44" sdnum="2057;"><font face="Arial">44</font></td>
		<td align="center" sdval="45" sdnum="2057;"><font face="Arial">45</font></td>
		<td align="center" sdval="44" sdnum="2057;"><font face="Arial">44</font></td>
		<td align="center" sdval="133" sdnum="2057;"><font face="Arial">133</font></td>
		<td align="center" sdval="89" sdnum="2057;"><b>89</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="40" sdnum="2057;0;@">40</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VIG</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Paul</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="47" sdnum="2057;"><font face="Arial">47</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="42" sdnum="2057;"><font face="Arial">42</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="89" sdnum="2057;"><font face="Arial">89</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="89" sdnum="2057;"><b>89</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="41" sdnum="2057;0;@">41</td>
		<td align="left"><font face="Arial">HARRIS</font></td>
		<td align="left"><font face="Arial">Neil</font></td>
		<td align="left"><font face="Arial">South Wheelers</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="83" sdnum="2057;"><font face="Arial">83</font></td>
		<td align="center" sdval="83" sdnum="2057;"><font face="Arial">83</font></td>
		<td align="center" sdval="83" sdnum="2057;"><b>83</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="42" sdnum="2057;0;@">42</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">JOY</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Craig</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Lycra Boys Cycling Club</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><font face="Arial">74</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><font face="Arial">74</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><b>74</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="43" sdnum="2057;0;@">43</td>
		<td align="left"><font face="Arial">KUNZ</font></td>
		<td align="left"><font face="Arial">Mattias</font></td>
		<td align="left"><font face="Arial"><br></font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="72" sdnum="2057;"><font face="Arial">72</font></td>
		<td align="center" sdval="72" sdnum="2057;"><font face="Arial">72</font></td>
		<td align="center" sdval="72" sdnum="2057;"><b>72</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="44" sdnum="2057;0;@">44</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">RAINSFORD</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Leon</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">ROTOR Race Team</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="65" sdnum="2057;"><font face="Arial">65</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="65" sdnum="2057;"><font face="Arial">65</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="65" sdnum="2057;"><b>65</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="45" sdnum="2057;0;@">45</td>
		<td align="left"><font face="Arial">DALEY</font></td>
		<td align="left"><font face="Arial">Ben</font></td>
		<td align="left"><font face="Arial">Vievelo</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="63" sdnum="2057;"><font face="Arial">63</font></td>
		<td align="center" sdval="63" sdnum="2057;"><font face="Arial">63</font></td>
		<td align="center" sdval="63" sdnum="2057;"><b>63</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="46" sdnum="2057;0;@">46</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">HACKER</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Gareth</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">4T+ Cyclopark</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="61" sdnum="2057;"><font face="Arial">61</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="61" sdnum="2057;"><font face="Arial">61</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="61" sdnum="2057;"><b>61</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="47" sdnum="2057;0;@">47</td>
		<td align="left"><font face="Arial">SNOWBALL</font></td>
		<td align="left"><font face="Arial">Andrew</font></td>
		<td align="left"><font face="Arial"><br></font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="61" sdnum="2057;"><font face="Arial">61</font></td>
		<td align="center" sdval="61" sdnum="2057;"><font face="Arial">61</font></td>
		<td align="center" sdval="61" sdnum="2057;"><b>61</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="48" sdnum="2057;0;@">48</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">FINLAY</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Iain</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="60" sdnum="2057;"><font face="Arial">60</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="60" sdnum="2057;"><font face="Arial">60</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="60" sdnum="2057;"><b>60</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="49" sdnum="2057;0;@">49</td>
		<td align="left"><font face="Arial">RIMMER</font></td>
		<td align="left"><font face="Arial">Duncan</font></td>
		<td align="left"><font face="Arial">Morden Cycle Racing Club</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="57" sdnum="2057;"><font face="Arial">57</font></td>
		<td align="center" sdval="57" sdnum="2057;"><font face="Arial">57</font></td>
		<td align="center" sdval="57" sdnum="2057;"><b>57</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="50" sdnum="2057;0;@">50</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">CHAPMAN</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Dean</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Senior</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="55" sdnum="2057;"><font face="Arial">55</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="55" sdnum="2057;"><font face="Arial">55</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="55" sdnum="2057;"><b>55</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="51" sdnum="2057;0;@">51</td>
		<td align="left"><font face="Arial">MACLEOD</font></td>
		<td align="left"><font face="Arial">Iain</font></td>
		<td align="left"><font face="Arial"><br></font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="55" sdnum="2057;"><font face="Arial">55</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="55" sdnum="2057;"><font face="Arial">55</font></td>
		<td align="center" sdval="55" sdnum="2057;"><b>55</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="52" sdnum="2057;0;@">52</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">DOWNER</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Jason</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="54" sdnum="2057;"><font face="Arial">54</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="54" sdnum="2057;"><font face="Arial">54</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="54" sdnum="2057;"><b>54</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="53" sdnum="2057;0;@">53</td>
		<td align="left"><font face="Arial">WOOD</font></td>
		<td align="left"><font face="Arial">Nicholas</font></td>
		<td align="left"><font face="Arial">VC Deal</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="52" sdnum="2057;"><font face="Arial">52</font></td>
		<td align="center" sdval="52" sdnum="2057;"><font face="Arial">52</font></td>
		<td align="center" sdval="52" sdnum="2057;"><b>52</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="54" sdnum="2057;0;@">54</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">DOUGHTY</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Brian</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="51" sdnum="2057;"><font face="Arial">51</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="51" sdnum="2057;"><font face="Arial">51</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="51" sdnum="2057;"><b>51</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="55" sdnum="2057;0;@">55</td>
		<td align="left"><font face="Arial">BURDON</font></td>
		<td align="left"><font face="Arial">Rob</font></td>
		<td align="left"><font face="Arial">Southborough &amp; District Whls</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="50" sdnum="2057;"><font face="Arial">50</font></td>
		<td align="center" sdval="50" sdnum="2057;"><font face="Arial">50</font></td>
		<td align="center" sdval="50" sdnum="2057;"><b>50</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="56" sdnum="2057;0;@">56</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">CONSTABLE</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Simon</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Basildon CC</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="48" sdnum="2057;"><font face="Arial">48</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="48" sdnum="2057;"><font face="Arial">48</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="48" sdnum="2057;"><b>48</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="57" sdnum="2057;0;@">57</td>
		<td align="left"><font face="Arial">JAMES</font></td>
		<td align="left"><font face="Arial">Jaron</font></td>
		<td align="left"><font face="Arial"><br></font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center" sdval="48" sdnum="2057;"><font face="Arial">48</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="48" sdnum="2057;"><font face="Arial">48</font></td>
		<td align="center" sdval="48" sdnum="2057;"><b>48</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="58" sdnum="2057;0;@">58</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">RODGERS</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Steve</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">GS Avanti</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="47" sdnum="2057;"><font face="Arial">47</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="47" sdnum="2057;"><font face="Arial">47</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="47" sdnum="2057;"><b>47</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="59" sdnum="2057;0;@">59</td>
		<td align="left"><font face="Arial">STEWART</font></td>
		<td align="left"><font face="Arial">Graeme</font></td>
		<td align="left"><font face="Arial">Limited Edition Cycling</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center" sdval="47" sdnum="2057;"><font face="Arial">47</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="47" sdnum="2057;"><font face="Arial">47</font></td>
		<td align="center" sdval="47" sdnum="2057;"><b>47</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="60" sdnum="2057;0;@">60</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">WASTALL</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">David</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">4T+ Cyclopark</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="46" sdnum="2057;"><font face="Arial">46</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="46" sdnum="2057;"><font face="Arial">46</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="46" sdnum="2057;"><b>46</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="61" sdnum="2057;0;@">61</td>
		<td align="left"><font face="Arial">GREGORY </font></td>
		<td align="left"><font face="Arial">Paul</font></td>
		<td align="left"><font face="Arial">Southdown</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="41" sdnum="2057;"><font face="Arial">41</font></td>
		<td align="center" sdval="41" sdnum="2057;"><font face="Arial">41</font></td>
		<td align="center" sdval="41" sdnum="2057;"><b>41</b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="62" sdnum="2057;0;@">62</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">KINGSLAND</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Robert</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="40" sdnum="2057;"><font face="Arial">40</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="40" sdnum="2057;"><font face="Arial">40</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="40" sdnum="2057;"><b>40</b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="63" sdnum="2057;0;@">63</td>
		<td align="left"><font face="Arial">DIGHTON</font></td>
		<td align="left"><font face="Arial">Jason</font></td>
		<td align="left"><font face="Arial"><br></font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="39" sdnum="2057;"><font face="Arial">39</font></td>
		<td align="center" sdval="39" sdnum="2057;"><font face="Arial">39</font></td>
		<td align="center" sdval="39" sdnum="2057;"><b>39</b></td>
	</tr>
</table>
</div>
