<div><h1 class="western">Elite Female</h1>
<table cellspacing="0" border="0">
	<colgroup width="60"></colgroup>
	<colgroup width="105"></colgroup>
	<colgroup width="84"></colgroup>
	<colgroup width="206"></colgroup>
	<colgroup width="68"></colgroup>
	<colgroup span="2" width="33"></colgroup>
	<colgroup width="87"></colgroup>
	<tr>
		<td height="17" align="left" style="background: #000000;" sdnum="2057;0;@"><font color="#FFFFFF">Position</font></td>
		<td align="left" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">Last Name</font></td>
		<td align="left" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">First Name</font></td>
		<td align="left" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">Team</font></td>
		<td align="left" style="background: #000000;" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">Category</font></td>
		<td align="center" style="background: #000000;" sdval="1" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">1</font></td>
		<td align="center" style="background: #000000;" sdval="2" sdnum="2057;0;@"><font face="Arial" color="#FFFFFF">2</font></td>
		<td align="center" style="background: #000000;" sdnum="2057;0;@"><b><font face="Arial" color="#FFFFFF">Points</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="1" sdnum="2057;0;@">1</td>
		<td align="left"><font face="Arial">WILEY</font></td>
		<td align="left"><font face="Arial">Esme</font></td>
		<td align="left"><font face="Arial">London Academy</font></td>
		<td align="left"><font face="Arial">U23</font></td>
		<td align="center" sdval="90" sdnum="2057;"><font face="Arial">90</font></td>
		<td align="center" sdval="94" sdnum="2057;"><font face="Arial">94</font></td>
		<td align="center" sdval="184" sdnum="2057;"><b><font face="Arial">184</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="2" sdnum="2057;0;@">2</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">STRILA</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Victoria</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Quick Release Cycling Club</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="80" sdnum="2057;"><font face="Arial">80</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="90" sdnum="2057;"><font face="Arial">90</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="170" sdnum="2057;"><b><font face="Arial">170</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="3" sdnum="2057;0;@">3</td>
		<td align="left"><font face="Arial">GLOWINSKI</font></td>
		<td align="left"><font face="Arial">Catherine</font></td>
		<td align="left"><font face="Arial">VC Londres</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center" sdval="83" sdnum="2057;"><font face="Arial">83</font></td>
		<td align="center" sdval="86" sdnum="2057;"><font face="Arial">86</font></td>
		<td align="center" sdval="169" sdnum="2057;"><b><font face="Arial">169</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="4" sdnum="2057;0;@">4</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">LORD</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Ilana</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Junior</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="78" sdnum="2057;"><font face="Arial">78</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="78" sdnum="2057;"><font face="Arial">78</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="156" sdnum="2057;"><b><font face="Arial">156</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="5" sdnum="2057;0;@">5</td>
		<td align="left"><font face="Arial">MALPASS</font></td>
		<td align="left"><font face="Arial">Jo</font></td>
		<td align="left"><font face="Arial">VC Deal</font></td>
		<td align="left"><font face="Arial">Vet 50-59</font></td>
		<td align="center" sdval="76" sdnum="2057;"><font face="Arial">76</font></td>
		<td align="center" sdval="76" sdnum="2057;"><font face="Arial">76</font></td>
		<td align="center" sdval="152" sdnum="2057;"><b><font face="Arial">152</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="6" sdnum="2057;0;@">6</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">PETERSMANN</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Danielle</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 50-59</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="72" sdnum="2057;"><font face="Arial">72</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="72" sdnum="2057;"><font face="Arial">72</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="144" sdnum="2057;"><b><font face="Arial">144</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="7" sdnum="2057;0;@">7</td>
		<td align="left"><font face="Arial">DAVIES</font></td>
		<td align="left"><font face="Arial">Edith</font></td>
		<td align="left"><font face="Arial">Club Cyclopark</font></td>
		<td align="left"><font face="Arial">Junior</font></td>
		<td align="center" sdval="70" sdnum="2057;"><font face="Arial">70</font></td>
		<td align="center" sdval="70" sdnum="2057;"><font face="Arial">70</font></td>
		<td align="center" sdval="140" sdnum="2057;"><b><font face="Arial">140</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="8" sdnum="2057;0;@">8</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">MERRINGTON</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Hannah</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="68" sdnum="2057;"><font face="Arial">68</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="69" sdnum="2057;"><font face="Arial">69</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="137" sdnum="2057;"><b><font face="Arial">137</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="9" sdnum="2057;0;@">9</td>
		<td align="left"><font face="Arial">ELLIOTT</font></td>
		<td align="left"><font face="Arial">Honor</font></td>
		<td align="left"><font face="Arial"><br></font></td>
		<td align="left"><font face="Arial">Senior</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Arial">100</font></td>
		<td align="center" sdval="100" sdnum="2057;"><b><font face="Arial">100</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="10" sdnum="2057;0;@">10</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">HORNSBY</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Emma Jane</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">London Academy</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Senior</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="100" sdnum="2057;"><font face="Arial">100</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="100" sdnum="2057;"><b><font face="Arial">100</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="11" sdnum="2057;0;@">11</td>
		<td align="left"><font face="Arial">LLOYD</font></td>
		<td align="left"><font face="Arial">Anna</font></td>
		<td align="left"><font face="Arial">VC Londres</font></td>
		<td align="left"><font face="Arial">Junior</font></td>
		<td align="center" sdval="94" sdnum="2057;"><font face="Arial">94</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="94" sdnum="2057;"><b><font face="Arial">94</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="12" sdnum="2057;0;@">12</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">MAHONEY</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Rianna</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">4T+ Cyclopark</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Junior</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="86" sdnum="2057;"><font face="Arial">86</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="86" sdnum="2057;"><b><font face="Arial">86</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="13" sdnum="2057;0;@">13</td>
		<td align="left"><font face="Arial">METCALFE</font></td>
		<td align="left"><font face="Arial">Naomi</font></td>
		<td align="left"><font face="Arial">Army Cycling Union</font></td>
		<td align="left"><font face="Arial">Senior</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="83" sdnum="2057;"><font face="Arial">83</font></td>
		<td align="center" sdval="83" sdnum="2057;"><b><font face="Arial">83</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="14" sdnum="2057;0;@">14</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">HUGHES</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Nicky</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Southborough &amp; District Whls</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 50-59</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="80" sdnum="2057;"><font face="Arial">80</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="80" sdnum="2057;"><b><font face="Arial">80</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="15" sdnum="2057;0;@">15</td>
		<td align="left"><font face="Arial">FREELAND</font></td>
		<td align="left"><font face="Arial">Tricia</font></td>
		<td align="left"><font face="Arial">CX Cartel</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="74" sdnum="2057;"><font face="Arial">74</font></td>
		<td align="center" sdval="74" sdnum="2057;"><b><font face="Arial">74</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="16" sdnum="2057;0;@">16</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">WALLACE</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Elizabeth</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Lee Velo (South East London)</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Junior</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><font face="Arial">74</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><b><font face="Arial">74</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="17" sdnum="2057;0;@">17</td>
		<td align="left"><font face="Arial">MATHIE</font></td>
		<td align="left"><font face="Arial">Wendy</font></td>
		<td align="left"><font face="Arial">Penge Cycle Club</font></td>
		<td align="left"><font face="Arial">Vet 40-49</font></td>
		<td align="center" sdval="69" sdnum="2057;"><font face="Arial">69</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="69" sdnum="2057;"><b><font face="Arial">69</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="18" sdnum="2057;0;@">18</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">CLIFF</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Jill</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">GS Invicta-ELO-Herberts Cycles</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 50-59</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="67" sdnum="2057;"><font face="Arial">67</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="67" sdnum="2057;"><b><font face="Arial">67</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="19" sdnum="2057;0;@">19</td>
		<td align="left"><font face="Arial">CLAYSON</font></td>
		<td align="left"><font face="Arial">Charlotte</font></td>
		<td align="left"><font face="Arial">VC Deal</font></td>
		<td align="left"><font face="Arial">Junior</font></td>
		<td align="center" sdval="66" sdnum="2057;"><font face="Arial">66</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="66" sdnum="2057;"><b><font face="Arial">66</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" style="background: #CCCCCC;" sdval="20" sdnum="2057;0;@">20</td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">TAYLOR</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Sharon</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Thanet RC</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Arial">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="65" sdnum="2057;"><font face="Arial">65</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Arial"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="65" sdnum="2057;"><b><font face="Arial">65</font></b></td>
	</tr>
	<tr>
		<td height="17" align="left" sdval="21" sdnum="2057;0;@">21</td>
		<td align="left"><font face="Arial">JENKINS</font></td>
		<td align="left"><font face="Arial">Pip</font></td>
		<td align="left"><font face="Arial">Southborough District Wheelers</font></td>
		<td align="left"><font face="Arial">Senior</font></td>
		<td align="center" sdval="64" sdnum="2057;"><font face="Arial">64</font></td>
		<td align="center"><font face="Arial"><br></font></td>
		<td align="center" sdval="64" sdnum="2057;"><b><font face="Arial">64</font></b></td>
	</tr>
</table>
</div>
