<div><h2>Women</h2></div>
<table cellspacing="0" border="0">
	<colgroup width="67"></colgroup>
	<colgroup width="116"></colgroup>
	<colgroup width="90"></colgroup>
	<colgroup width="270"></colgroup>
	<colgroup width="76"></colgroup>
	<colgroup span="5" width="36"></colgroup>
	<colgroup width="55"></colgroup>
	<colgroup width="188"></colgroup>
	<tr>
		<td height="20" align="left" style="background: #000000; color:white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Position</font></b></td>
		<td align="left" style="background: #000000; color:white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Last Name</font></b></td>
		<td align="left" style="background: #000000; color:white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>First Name</font></b></td>
		<td align="left" style="background: #000000; color:white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Team</font></b></td>
		<td align="left" style="background: #000000; color:white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Category</font></b></td>
		<td align="center" style="background: #000000; color:white" sdval="1" sdnum="2057;0;@"><font face="Liberation Serif" size=3>1</font></td>
		<td align="center" style="background: #000000; color:white" sdval="2" sdnum="2057;0;@"><font face="Liberation Serif" size=3>2</font></td>
		<td align="center" style="background: #000000; color:white" sdval="3" sdnum="2057;0;@"><font face="Liberation Serif" size=3>3</font></td>
		<td align="center" style="background: #000000; color:white" sdval="4" sdnum="2057;0;@"><font face="Liberation Serif" size=3>4</font></td>
		<td align="center" style="background: #000000; color:white" sdval="5" sdnum="2057;0;@"><font face="Liberation Serif" size=3>5</font></td>
		<td align="center" style="background: #000000; color:white" sdnum="2057;0;@"><font face="Liberation Serif" size=3>Points</font></td>
		<td align="center" style="background: #000000; color:white" sdnum="2057;0;@"><b><font face="Liberation Serif" size=3>Points (Excluding lowest)</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="1" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">1</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">STRILA</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Victoria</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Quick Release Cycling Club</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Vet 40-49</font></td>
		<td align="center" sdval="80" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">80</font></td>
		<td align="center" sdval="90" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">90</font></td>
		<td align="center" sdval="78" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">78</font></td>
		<td align="center" sdval="86" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">86</font></td>
		<td align="center" sdval="94" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">94</font></td>
		<td align="center" sdval="428" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">428</font></td>
		<td align="center" sdval="350" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">350</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="2" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">2</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">MALPASS</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Joanne</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Vet 50-59</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="76" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">76</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="76" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">76</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="76" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">76</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="83" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">83</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="86" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">86</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="397" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">397</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="321" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">321</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="3" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">3</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">ELLIOTT</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Honor</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">100</font></td>
		<td align="center" sdval="94" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">94</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">100</font></td>
		<td align="center" sdval="294" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">294</font></td>
		<td align="center" sdval="294" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">294</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="4" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">4</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">MERRINGTON</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Hannah</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="68" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">68</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="69" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">69</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="67" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">67</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="72" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">72</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="276" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">276</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="276" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">276</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="5" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">5</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">WILEY</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Esme</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">London Academy</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">U23</font></td>
		<td align="center" sdval="90" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">90</font></td>
		<td align="center" sdval="94" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">94</font></td>
		<td align="center" sdval="90" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">90</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="274" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">274</font></td>
		<td align="center" sdval="274" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">274</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="6" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">6</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">MAHONEY</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Rianna</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">4T+ Cyclopark</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Junior</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="86" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">86</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="86" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">86</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">94</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="266" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">266</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="266" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">266</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="7" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">7</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">HUGHES</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Nicky</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Southborough &amp; District Whls</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Vet 50-59</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="80" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">80</font></td>
		<td align="center" sdval="80" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">80</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="90" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">90</font></td>
		<td align="center" sdval="250" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">250</font></td>
		<td align="center" sdval="250" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">250</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="8" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">8</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">LORD</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Ilana</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Junior</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="78" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">78</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="78" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">78</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="90" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">90</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="246" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">246</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="246" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">246</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="9" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">9</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">GLOWINSKI</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Catherine</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">VC Londres</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Vet 40-49</font></td>
		<td align="center" sdval="83" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">83</font></td>
		<td align="center" sdval="86" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">86</font></td>
		<td align="center" sdval="74" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">74</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="243" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">243</font></td>
		<td align="center" sdval="243" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">243</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="10" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">10</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">CALEIA-RAMOS</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Natasha</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">ASSOS UK Racing Team</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="72" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">72</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="80" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">80</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="83" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">83</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="235" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">235</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="235" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">235</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="11" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">11</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">PETERSMANN</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Danielle</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Vet 50-59</font></td>
		<td align="center" sdval="72" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">72</font></td>
		<td align="center" sdval="72" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">72</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="78" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">78</font></td>
		<td align="center" sdval="222" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">222</font></td>
		<td align="center" sdval="222" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">222</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="12" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">12</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">MATHIE</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Wendy</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Penge Cycle Club</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="69" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">69</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="70" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">70</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="80" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">80</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="219" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">219</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="219" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">219</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="13" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">13</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">MORRICE</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Alex</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">CANYON // SRAM Racing Team</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">100</font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">100</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="200" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">200</font></td>
		<td align="center" sdval="200" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">200</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="14" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">14</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">WILKINSON</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Lesley</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Addiscombe CC</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Vet 60+</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="69" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">69</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="78" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">78</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="147" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">147</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="147" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">147</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="15" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">15</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">DAVIES</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Edith</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Club Cyclopark</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Junior</font></td>
		<td align="center" sdval="70" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">70</font></td>
		<td align="center" sdval="70" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">70</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="140" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">140</font></td>
		<td align="center" sdval="140" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">140</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="16" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">16</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">TAYLOR</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Sharon</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Thanet RC</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="65" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">65</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="66" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">66</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="131" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">131</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="131" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">131</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="17" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">17</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">HORNSBY</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Emma Jane</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">London Academy</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">100</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="100" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">100</font></td>
		<td align="center" sdval="100" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">100</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="18" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">18</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">LLOYD</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Anna</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">VC Londres</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Junior</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">94</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">94</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="94" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">94</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="19" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">19</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">METCALFE</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Naomi</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Army Cycling Union</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="83" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">83</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="83" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">83</font></td>
		<td align="center" sdval="83" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">83</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="20" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">20</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">WALDER</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Monica</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">C and N Cycles RT</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="83" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">83</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="83" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">83</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="83" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">83</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="21" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">21</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">WILKINS</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Lesley</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">ACC</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Vet 60</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="76" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">76</font></td>
		<td align="center" sdval="76" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">76</font></td>
		<td align="center" sdval="76" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">76</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="22" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">22</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">FREELAND</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Tricia</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">CX Cartel</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Vet 40-49</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">74</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">74</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">74</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="23" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">23</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">ROGERS</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Agnes</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Southborough &amp; District Whls</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="74" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">74</font></td>
		<td align="center" sdval="74" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">74</font></td>
		<td align="center" sdval="74" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">74</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="24" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">24</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">WALLACE</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Elizabeth</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Lee Velo</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Junior</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">74</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">74</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="74" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">74</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="25" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">25</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">WILCOX</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Georgina</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">London Velo</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="70" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">70</font></td>
		<td align="center" sdval="70" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">70</font></td>
		<td align="center" sdval="70" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">70</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="26" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">26</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">COOPER</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Marta</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Brixton Cycles Club</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="68" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">68</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="68" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">68</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="68" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">68</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="27" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">27</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">CLIFF</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Jill</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">GS Invicta-ELO-Herberts Cycles</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Vet 50-59</font></td>
		<td align="center" sdval="67" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">67</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="67" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">67</font></td>
		<td align="center" sdval="67" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">67</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" style="background: #CCCCCC;" sdval="28" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">28</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">CLAYSON</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Charlotte</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">VC Deal</font></td>
		<td align="left" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000">Junior</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="66" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">66</font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" style="background: #CCCCCC;" sdval="66" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">66</font></td>
		<td align="center" style="background: #CCCCCC;" sdval="66" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">66</font></b></td>
	</tr>
	<tr>
		<td height="20" align="left" sdval="29" sdnum="2057;0;@"><font face="Liberation Serif" size=3 color="#000000">29</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">JENKINS</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Pip</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Southborough District Wheelers</font></td>
		<td align="left"><font face="Liberation Serif" size=3 color="#000000">Senior</font></td>
		<td align="center" sdval="64" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">64</font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center"><font face="Liberation Serif" size=3 color="#000000"><br></font></td>
		<td align="center" sdval="64" sdnum="2057;"><font face="Liberation Serif" size=3 color="#000000">64</font></td>
		<td align="center" sdval="64" sdnum="2057;"><b><font face="Liberation Serif" size=3 color="#000000">64</font></b></td>
	</tr>
</table>
